<% layout('layouts/boilerplate')%>
    <link rel="stylesheet" href="/css/calendar.css">
    <style>
        .blob-btn {
            color: rgb(68, 138, 11);
            opacity: 0.8;
        }

        .blob-btn:before {
            border-color: rgb(68, 138, 11);
            opacity: 0.8;
        }

        .blob-btn__blob {
            background: rgb(68, 138, 11);
        }

        main {
            background-image: url("https://images.pexels.com/photos/956999/milky-way-starry-sky-night-sky-star-956999.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
        }
    </style>
    <script>
        const events =<%- JSON.stringify(events) %>;
        const main = document.getElementsByClassName("container mt-5");
        main[0].setAttribute("class", "");
    </script>
    <div class="container">
        <div id="calendar" class="mb-5 mt-5"></div>
        <div class="d-flex justify-content-center buttons mt-2 mb-5">
            <% if(currentUser.email === 'tpowebsite2021@gmail.com'){ %> 
            <a href="/events/new" class="blob-btn" style="text-decoration: none;">
                Add New Event
                <span class="blob-btn__inner">
                    <span class="blob-btn__blobs">
                        <span class="blob-btn__blob"></span>
                        <span class="blob-btn__blob"></span>
                        <span class="blob-btn__blob"></span>
                        <span class="blob-btn__blob"></span>
                    </span>
                </span>
            </a>
            <% } %> 
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="/javascripts/calendar.js"></script>