<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/css/calendar.css">
<script>
    const events=<%- JSON.stringify(events) %>
</script> 
    <div id="calendar"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="/javascripts/calendar.js"></script>
   