<% layout('layouts/boilerplate')%>

<form action="/events"  method="POST" class="validated-form mb-3" >
    <h1>Add New Event</h1>
    <div class="mb-3">
        <label class="form-label" for="name">Event Name</label>
        <input class="form-control" type="text" id="name" name="event[name]">   
    </div>

    <div class="mb-3">
        <label class="form-label" for="companyName">Company Name</label>
        <input class="form-control" type="text" id="companyName" name="event[companyName]">     
    </div>

    <div class="mb-3">
        <label class="form-label" for="date">Event Date</label>
        <input type="date" name="event[date]" id="date">
    </div>
    
    <div class="mb-3">
        <label class="form-label" for="time">Event Time</label>
        <input class="form-control" type="time" id="time" name="event[time]">   
    </div>
    
    <button class="btn btn-success">Add Event</button>
    <div class="mb-3">
      <span>To view all Events</span> <a class="mb-3 btn btn-primary" href="/events">All Events</a>
    </div>
</form>




