<footer class="footer mt-5">
    <div id="intro" class="bg-image border">
        <div class=" card-md-6 d-flex align-items-center justify-content-center h-75 mb-6">
            <div class="card-body mt-5">
                <h5 class="card-title text-white text-center mb-3 ">Get In Touch</h5>
                <h6 class="card-subtitle mb-3 text-white text-center">If you have any questions
                    about the services we provide
                    simply use the email address below.
                    We try and respond to all queries and comments ASAP.</h6>
                <p class="card-text text-white text-center mb-2">Office of Training and Placement,<br>
                    VJTI MATUNGA, Mumbai-400019.<br>
                    <!-- &#128222;+91(0) 44 2257 8130 |8133<br> -->
                    &#9993;tpowebsite2021@gmail.com</p>


            </div>
        </div>
    </div>
    <div class="bg-dark bottom-fixed d-flex align-items-center justify-content-center " id="rights">
        <span class="text-muted">&COPY;VJTI TPO 2021 | All Rights Reserved.</span>
    </div>