<footer class="mt-5">
    <div id="intro" class="bg-image border">
        <div class=" card-md-6 d-flex align-items-center justify-content-center h-100 mb-6">
            <div class="card-body ">
                <h5 class="card-title text-white text-center mb-3 mt-2">Get In Touch</h5>
                <h6 class="card-subtitle mb-3 text-white text-center">If you have any questions
                    about the services we provide
                    simply use the email address below.
                    We try and respond to all queries and comments ASAP.</h6>
                <p class="card-text text-white text-center mb-2">Training and Placement,<br>
                    Dean (Students) office - First floor,<br>
                    VJTI MATUNGA, Chennai-600036.<br>
                    &#128222;+91(0) 44 2257 8130 |8133<br>
                    &#9993;placement@iitm.ac.in</p>
                <p class="text-white text-center ">Follow VJTI on social media</p>
                <div class="btn ">
                    <!-- <a href="https://www.youtube.com/watch?v=-H0KkOfXuKE" class="btn btn-primary m-1" role="button"
                        rel="nofollow" target="_blank"></a>
                    <a href="https://www.facebook.com/mdbootstrap" class="fa fa-facebook" role="button" rel="nofollow"
                        target="_blank">
                    </a>
                    <a href="https://twitter.com/VJTI" class="btn m-1" role="button" rel="nofollow" target="_blank">
                    </a> -->
                </div>
            </div>
        </div>
    </div>
    <div class="bg-dark bottom-fixed d-flex align-items-center justify-content-center">
        <span class="text-muted">&COPY;VJTI TPO 2021 | All Rights Reserved.</span>
    </div>
</footer>