     <style>
        header {
            min-height: 15% !important;
        }
    
        @media only screen and (max-width : 375px) {
            header {
                min-height: 15% important;
            }
    
        }
    
        @media only screen and (max-width : 460px) {
            #english {
                font-size: 90%;
            }
        }
    
        @media only screen and (max-width : 992px) {
            #hindi {
                display: none;
            }
        }
    
        @media only screen and (max-width : 772px) {
            #english p {
                font-size: 90%;
            }
        }
    </style>
    
    <div class="row">
        <div class="col col-xs-12 col-sm-12  col-md-12 col-lg-6" id="english">
            <img class="mx -2 me-2 img-thumbnail float-start" ,
                src="https://res.cloudinary.com/djhcnbsvg/image/upload/c_scale,h_80,w_90/v1639069755/Logo/18-vjtimumbai_svcuet.jpg"
                alt="VJTI LOGO">
            <h3 class="mb-0 text-dark" width='5%'>VJTI MUMBAI</h3>
            <p class='d-inline'>Veermata Jijabai Technological Institute <br>Erstwhile -Victoria Jubilee
                Technical Institute(estd. 1887)</p>
        </div>
        <div class="col-lg-6  px-2" id="hindi">
            <div class="d-inline-block mt-2 float-end">
                <h3 class="text-dark " width='3%'>वीरमाता जिजाबाई टेक्नॉलॉजीकल इंस्टिट्यूट</h3>
                <p class='d-inline text-dark' width='5%'>मुंबई ४०००१९</p>
            </div>
        </div>
    
    </div>
