<header>
    <div class="row" >
        <div class=" col-md-auto col-lg-6 mb-2">
            
                <img class="d-inline-block mb-5  img-thumbnail " ,
                    src="https://secureservercdn.net/160.153.137.40/xkt.381.myftpupload.com/wp-content/uploads/oldupload/cropped-New-VJTI-Logo_1-1-52x75.jpg"
                    alt="VJTI LOGO">
                    <div class="d-inline-block mb-3 mt-2 pt-2 pr-2">
                        <h3 class="mb-0 text-dark" width='5%'>VJTI MUMBAI</h3>
                        <p class='d-inline' width='5%'>Veermata Jijabai Technological Institute <br>Erstwhile -Victoria Jubilee
                            Technical Institute(estd. 1887)</p>
                    </div> 
                    
            
        </div>
       
        <div id="marathi"class="col-md col-lg-6 mb-2">
            <div class="d-inline-block mt-3  pt-2 pr-2 ">
                <h3 class="mb-0 text-dark" width='3%'>वीरमाता जिजाबाई टेक्नॉलॉजीकल इंस्टिट्यूट</h3>
                <p class='d-inline' width='5%'>मुंबई ४०००१९</p>
            </div>
        </div>
    </div>

</header> 

