<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <!-- <a class="navbar-brand" href="#"></a> -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav">

        <a class="nav-link active" aria-current="page" href="/home">Home</a>
        <a class="nav-link" href="/students">Students</a>
        <a class="nav-link" href="/recruiters">Recruiters</a>
        <a class="nav-link" aria-current="page" href="/statics">Statics</a>
        <a class="nav-link" href="/internship">Internship</a>
        <a class="nav-link" href="/contact">Contact Us</a>
      </div>



    </div>
  </div>
</nav>