<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/css/button2.css">

<div class="container mb-5">
    <div class="d-flex justify-content-center mb-3">
        <h2>2018 Interview Experiences</h2>
    </div>

    <div class="row">
        <div class="col-8 offset-2 mb-3">
            <div>
                <a class="btn glow-on-hover btn-outline-dark block" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2021%20Internships%2FAmazon_%20Hrishikesh%20Suslade.pdf?alt=media&token=52834bd6-24e7-40e3-9d81-8d235add9293">Hrishikesh Sulsade - Amazon Interview Experience</a>
            </div>
        </div>       
    </div>

    <div class="row">
        <div class="col-8 offset-2 mb-3">
            <div>
                <a class="btn glow-on-hover btn-outline-dark block" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2021%20Internships%2FBarclays_%20Sanidhya%20Sharma.pdf?alt=media&token=34f62e2b-f2b3-453f-8fdf-b164d21aceb7">Sanidhya Sharma - Barclays Interview Experience</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-8 offset-2 mb-3">
            <div>
                <a class="btn glow-on-hover btn-outline-dark block" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2021%20Internships%2FGoldman_%20Humaira%20Sayyed.pdf?alt=media&token=ca3292bc-c529-42e3-96a8-779050ad5abc">Humaira Sayyed - Goldman Sachs Interview Experience</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-8 offset-2 mb-5">
            <div>
                <a class="btn glow-on-hover btn-outline-dark block" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2021%20Internships%2FSAP_%20Aditya%20Lata.pdf?alt=media&token=d557bf85-9377-4c8f-a96a-d65906248782">Aditya Lata - SAP Labs Interview Experience</a>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center mb-3">
        <h2>Pre 2018 Interview Experiences</h2>
    </div>

    <div class="row">
        <div class="col-8 offset-2 mb-3">
            <div>
                <a class="btn glow-on-hover btn-outline-dark block" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2021%20Internships%2FAmazon%20interview%20experience%20-1.pdf?alt=media&token=5efbb28a-1043-48bc-ad4b-b899d21c3b55">Amazon Interview Experience</a>
            </div>
        </div>      
    </div>

    <div class="row">
        <div class="col-8 offset-2 mb-3">
            <div>
                <a class="btn glow-on-hover btn-outline-dark block" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2021%20Internships%2FMorgan%20Stanley%20Questions%20-%20Breejesh.docx.pdf?alt=media&token=9ada69df-ced7-491e-b2b2-5dbf091efd57">Breejesh - Morgan Stanley Interview Experience</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-8 offset-2 mb-3">
            <div>
                <a class="btn glow-on-hover btn-outline-dark block" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2021%20Internships%2FSagar%20Kamdar%20-%20Microsoft%20-%20Internship%202017.pdf?alt=media&token=f86114ba-2caa-467a-bf7b-700f79e619a3">Sagar Kamdar - Microsoft Interview Experience</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-8 offset-2 mb-3">
            <div>
                <a class="btn glow-on-hover btn-outline-dark block" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2021%20Internships%2FSAP%20Labs%20Experience.pdf?alt=media&token=f4121b73-e2af-4675-85d5-c5429f148113">SAP Labs Interview Experience</a>
            </div>
        </div>
    </div>
</div>