<% layout('layouts/boilerplate')%>

<div class="container">
    <div>
        <h3>2019 Experiences</h3>
        <div>
            <a href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2021%20Internships%2FBarclays%20Internship%20Experience.pdf?alt=media&token=86b51bce-f278-4ec8-b2b4-d244e24a0e84">Barclays Interview Experience</a>
        </div>
        <div>
            <a href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2021%20Internships%2FBarclays_%20Nidhee%20Kamble.pdf?alt=media&token=c5e43656-9d11-417a-a05b-1eb82401e6d3">Nidhee Kamble - Barclays Interview Experience</a>
        </div>
        <div>
            <a href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2021%20Internships%2FCiti%20Experience.pdf?alt=media&token=7f1834b7-2071-4317-b2df-549e94b70ce6">Citi Bank - Interview Experience</a>
        </div>
        <div>
            <a href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2021%20Internships%2FGoldman%20Sachs_%20Harsh%20Prabhu.pdf?alt=media&token=366b12eb-45dd-4bdf-b5e6-2d5bdb5b09fe">Harsh Prabhu - Goldman Sachs Interview Experience</a>
        </div>
        <div>
            <a href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2021%20Internships%2FGoldman%20Sachs_%20Saikumar%20Nalla.pdf?alt=media&token=82a0b57f-9859-4720-864a-1cd8d1659f3d">Saikumar Nalla - Goldman Sachs Interview Experience</a>
        </div>
        <div>
            <a href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2021%20Internships%2FMicrosoft_%20Yash%20S.%20Jain.pdf?alt=media&token=68d35efd-813b-4d0b-9edd-24ef70e183fd">Yash Jain - Microsoft Interview Experience</a>
        </div>
        <div>
            <a href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2021%20Internships%2FMORGAN%20STANLEY%20Interview%20experience.pdf?alt=media&token=352dbc20-e522-41af-9dfa-c0a9a151c648">Morgan Stanley Interview Experience</a>
        </div>
        <div>
            <a href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2021%20Internships%2FMorgan%20Stanley_%20Aliabbas%20Merchant.pdf?alt=media&token=1546a4ea-65d5-4d4a-87a6-d1dca49b02a5">Aliabbas Merchant - Morgan Stanley Interview Experience</a>
        </div>
        <div>
            <a href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2021%20Internships%2FMorganStanley%20FinalYearExperience_%20Jayant%20Rane.pdf?alt=media&token=6ef6d007-ab16-4043-ba54-cafcedde7614">Jayant Rane - Morgan Stanley Interview Experience</a>
        </div>
        <div>
            <a href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2021%20Internships%2FSamsung_%20Anirudh%20Khatry.pdf?alt=media&token=eff8eac7-392f-479f-837f-3241e24abdee">Anirudh Khatry - Samsung Interview Experience</a>
        </div>
    </div>
</div>