<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/css/button2.css">

<div class="container mb-5">
    <div class="d-flex justify-content-center mb-3">
        <h2>2019 Interview Experiences</h2>
    </div>

    <div class="row">
        <div class="col-8 offset-2 mb-3">
            <div class="card">
                <div class="d-grid gap-2">
                    <a class="btn glow-on-hover btn-outline-dark block" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="com1" href="#com1">Barclays</a>
                </div>
                <div class="collapse p-3" id="com1">
                    <div>
                        <a class="btn btn-success btn-transcript mb-3" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2021%20Internships%2FBarclays%20Internship%20Experience.pdf?alt=media&token=86b51bce-f278-4ec8-b2b4-d244e24a0e84">Barclays Interview Experience</a>
                        <a class="btn btn-success btn-transcript" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2021%20Internships%2FBarclays_%20Nidhee%20Kamble.pdf?alt=media&token=c5e43656-9d11-417a-a05b-1eb82401e6d3">Nidhee Kamble - Interview Experience</a>
                    </div>
                </div>
            </div>
        </div>           
    </div>

    <div class="row">
        <div class="col-8 offset-2 mb-3">
            <div class="card">
                <div class="d-grid gap-2">
                    <a class="btn glow-on-hover btn-outline-dark block" data-bs-toggle="collapse" data-target="#com2" role="button" aria-expanded="false" aria-controls="com2" href="#com2">Citi Bank</a>
                </div>
                <div class="collapse p-3" id="com2">
                    <div>
                        <a class="btn btn-success btn-transcript" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2021%20Internships%2FCiti%20Experience.pdf?alt=media&token=7f1834b7-2071-4317-b2df-549e94b70ce6">Citi Bank - Interview Experience</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-8 offset-2 mb-3">
            <div class="card">
                <div class="d-grid gap-2">
                    <a class="btn glow-on-hover btn-outline-dark block" data-bs-toggle="collapse" data-target="#com3" role="button" aria-expanded="false" aria-controls="com3" href="#com3">Goldman Sachs</a>
                </div>
                <div class="collapse p-3" id="com3">
                    <div>
                        <a class="btn btn-success btn-transcript mb-3" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2021%20Internships%2FGoldman%20Sachs_%20Harsh%20Prabhu.pdf?alt=media&token=366b12eb-45dd-4bdf-b5e6-2d5bdb5b09fe">Harsh Prabhu - Interview Experience</a>
                        <a class="btn btn-success btn-transcript" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2021%20Internships%2FGoldman%20Sachs_%20Saikumar%20Nalla.pdf?alt=media&token=82a0b57f-9859-4720-864a-1cd8d1659f3d">Saikumar Nalla - Interview Experience</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-8 offset-2 mb-3">
            <div class="card">
                <div class="d-grid gap-2">
                    <a class="btn glow-on-hover btn-outline-dark block" data-bs-toggle="collapse" data-target="#com4" role="button" aria-expanded="false" aria-controls="com4" href="#com4">Microsoft</a>
                </div>
                <div class="collapse p-3" id="com4">
                    <div>
                        <a class="btn btn-success btn-transcript" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2021%20Internships%2FMicrosoft_%20Yash%20S.%20Jain.pdf?alt=media&token=68d35efd-813b-4d0b-9edd-24ef70e183fd">Yash Jain - Interview Experience</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-8 offset-2 mb-3">
            <div class="card">
                <div class="d-grid gap-2">
                    <a class="btn glow-on-hover btn-outline-dark block" data-bs-toggle="collapse" data-target="#com5" role="button" aria-expanded="false" aria-controls="com5" href="#com5">Morgan Stanley</a>
                </div>
                <div class="collapse p-3" id="com5">
                    <div>
                        <a class="btn btn-success btn-transcript mb-3" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2021%20Internships%2FMORGAN%20STANLEY%20Interview%20experience.pdf?alt=media&token=352dbc20-e522-41af-9dfa-c0a9a151c648">Morgan Stanley Interview Experience</a>
                        <a class="btn btn-success btn-transcript mb-3" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2021%20Internships%2FMorgan%20Stanley_%20Aliabbas%20Merchant.pdf?alt=media&token=1546a4ea-65d5-4d4a-87a6-d1dca49b02a5">Aliabbas Merchant - Interview Experience</a>
                        <a class="btn btn-success btn-transcript" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2021%20Internships%2FMorganStanley%20FinalYearExperience_%20Jayant%20Rane.pdf?alt=media&token=6ef6d007-ab16-4043-ba54-cafcedde7614">Jayant Rane - Interview Experience</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-8 offset-2 mb-3">
            <div class="card">
                <div class="d-grid gap-2">
                    <a class="btn glow-on-hover btn-outline-dark block" data-bs-toggle="collapse" data-target="#com6" role="button" aria-expanded="false" aria-controls="com6" href="#com6">Samsung</a>
                </div>
                <div class="collapse p-3" id="com6">
                    <div>
                        <a class="btn btn-success btn-transcript" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2021%20Internships%2FSamsung_%20Anirudh%20Khatry.pdf?alt=media&token=eff8eac7-392f-479f-837f-3241e24abdee">Anirudh Khatry - Interview Experience</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>