<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/css/button2.css">

<div class="container mb-5">
    <div class="d-flex justify-content-center mb-3">
        <h2>2020 Internship Experiences</h2>
    </div>

    <div class="row">
        <div class="col-8 offset-2 mb-3">
            <div class="card">
                <div class="d-grid gap-2">
                    <a class="btn glow-on-hover btn-outline-dark block" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="com1" href="#com1">Barclays</a>
                </div>
                <div class="collapse p-3" id="com1">
                    <div>
                        <a class="btn btn-success btn-transcript mb-3" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2020%20Internships%2FAbhay_Barclays_Experience.pdf?alt=media&token=f7932db1-5368-4f8c-93a7-f008bf74efab">Abhay Kaul - Interview Experience</a>
                        <a class="btn btn-success btn-transcript mb-3" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2020%20Internships%2FBarclays_YashTailor.pdf?alt=media&token=b83ff99b-0ee9-4d41-bfa9-ee9c67eff787">Yash Tailor - Interview Experience</a>
                        <a class="btn btn-success btn-transcript mb-3" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2020%20Internships%2FDevanshi_Barclays_internship_experience.pdf?alt=media&token=4d414dfb-a94b-48ae-b628-c9952c75f1ed">Devanshi Shah - Interview Experience</a>
                        <a class="btn btn-success btn-transcript" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2020%20Internships%2FMohammed%20Mehdi%20-%20Barclays%20Interview%20Experience.pdf?alt=media&token=d264bda8-fc22-4ec9-937d-6c8942169e1e">Mohammed Mehdi - Interview Experience</a>
                    </div>
                </div>
            </div>
        </div>        
    </div>
    
    <div class="row">
        <div class="col-8 offset-2 mb-3">
            <div class="card">
                <div class="d-grid gap-2">
                    <a class="btn glow-on-hover btn-outline-dark block" data-bs-toggle="collapse" data-target="#com2" role="button" aria-expanded="false" aria-controls="com2" href="#com2">Citi Bank</a>
                </div>
                <div class="collapse p-3" id="com2">
                    <div>
                        <a class="btn btn-success btn-transcript mb-3" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2020%20Internships%2FCITI%20BANK%20-%20Anuj%20Raghani.pdf?alt=media&token=615b4674-6d38-42d8-ab38-d5c27971885b">Anuj Rughani - Interview Experience</a>
                        <a class="btn btn-success btn-transcript mb-3" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2020%20Internships%2FCiti%20Corp%20_%20Rasika%20Chavan.pdf?alt=media&token=46537147-326e-4b3a-96dd-0b953305a43a">Rasika Chavan - Interview Experience</a>
                        <a class="btn btn-success btn-transcript" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2020%20Internships%2FCiti%20Corp_%20Sarang%20Shekokar.pdf?alt=media&token=0c3b8174-2801-4c18-ab06-062142f1ad50">Sarang Shekokar - Interview Experience</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-8 offset-2 mb-3">
            <div class="card">
                <div class="d-grid gap-2">
                    <a class="btn glow-on-hover btn-outline-dark block" data-bs-toggle="collapse" data-target="#com3" role="button" aria-expanded="false" aria-controls="com3" href="#com3">Goldman Sachs</a>
                </div>
                <div class="collapse p-3" id="com3">
                    <div>
                        <a class="btn btn-success btn-transcript mb-3" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2020%20Internships%2FGoldman%20Sachs%20Interview%20Experience%20(Internship).pdf?alt=media&token=3260ec9c-fc2f-46bd-ba79-1a3dc6eb2506">Saif Kazi - Interview Experience</a>
                        <a class="btn btn-success btn-transcript mb-3" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2020%20Internships%2FGoldman%20Sachs%20Interview%20Exp.pdf?alt=media&token=e1381ec8-60d4-4082-990e-d5781a140943">Aditya Thorwe - Interview Experience</a>
                        <a class="btn btn-success btn-transcript mb-3" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2020%20Internships%2FGS%20Internship%20Interview%20Bhavya.pdf?alt=media&token=77808963-0c6a-4400-8541-2495315890bd">Bhavya Sheth - Interview Experience</a>
                        <a class="btn btn-success btn-transcript" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2020%20Internships%2FGS_Interview_Experience.pdf?alt=media&token=f13cf592-b49b-4c26-aefa-7ae10a32ca66">Hrim Gandhi - Interview Experience</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-8 offset-2 mb-3">
            <div class="card">
                <div class="d-grid gap-2">
                    <a class="btn glow-on-hover btn-outline-dark block" data-bs-toggle="collapse" data-target="#com4" role="button" aria-expanded="false" aria-controls="com4" href="#com4">Google</a>
                </div>
                <div class="collapse p-3" id="com4">
                    <div>
                        <a class="btn btn-success btn-transcript" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2020%20Internships%2FGoogle_Interview_Experience.pdf?alt=media&token=2a1e80d7-31d1-4d56-b131-5198cf8555bd">Hrim Gandhi - Interview Experience</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-8 offset-2 mb-3">
            <div class="card">
                <div class="d-grid gap-2">
                    <a class="btn glow-on-hover btn-outline-dark block" data-bs-toggle="collapse" data-target="#com5" role="button" aria-expanded="false" aria-controls="com5" href="#com5">JP Morgan</a>
                </div>
                <div class="collapse p-3" id="com5">
                    <div>
                        <a class="btn btn-success btn-transcript" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2020%20Internships%2FJPMC%20Code%20for%20Good%20experience.pdf?alt=media&token=72091da9-46ba-4576-9573-186261e0db70">Gaurav Sharma - Interview Experience</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-8 offset-2 mb-3">
            <div class="card">
                <div class="d-grid gap-2">
                    <a class="btn glow-on-hover btn-outline-dark block" data-bs-toggle="collapse" data-target="#com6" role="button" aria-expanded="false" aria-controls="com6" href="#com6">Morgan Stanley</a>
                </div>
                <div class="collapse p-3" id="com6">
                    <div>
                        <a class="btn btn-success btn-transcript mb-3" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2020%20Internships%2FMORGAN%20STANLEY%20INTERVIEW%20EXPERIENCE.docx.pdf?alt=media&token=1521f66f-ed96-44f5-a411-3772bfcb15eb">Sejal Agrawal - Interview Experience</a>
                        <a class="btn btn-success btn-transcript mb-3" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2020%20Internships%2FMorgan%20Stanley%20Internship%20Interview.pdf?alt=media&token=4fb9588e-41de-4f36-9eb1-4c0f0e96595c">Rishiv Chhabria - Interview Experience</a>
                        <a class="btn btn-success btn-transcript mb-3" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2020%20Internships%2FMorgan%20Stanley%20Interview%20Experience%20(1).pdf?alt=media&token=e8cce232-f82d-42a0-b9b0-90c81038a4d6">Archeel Parekh - Interview Experience</a>
                        <a class="btn btn-success btn-transcript mb-3" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2020%20Internships%2FMorgan%20Stanley(Internship%20Interview%20Experience).pdf?alt=media&token=b115cf93-8569-4b06-8069-49a4da2abd47">Rohan Vora - Interview Experience</a>
                        <a class="btn btn-success btn-transcript" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2020%20Internships%2FShivani%20Pawar%20-%20Internship%20Interview.pdf?alt=media&token=2faecb4f-cbe4-4d18-929a-28cd4f81c558">Shivani Pawar - Interview Experience</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-8 offset-2 mb-3">
            <div class="card">
                <div class="d-grid gap-2">
                    <a class="btn glow-on-hover btn-outline-dark block" data-bs-toggle="collapse" data-target="#com7" role="button" aria-expanded="false" aria-controls="com7" href="#com7">Samsung</a>
                </div>
                <div class="collapse p-3" id="com7">
                    <div>
                        <a class="btn btn-success btn-transcript mb-3" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2020%20Internships%2FSamsung%20R%26D%20Interview%20Experience%20(Internship).pdf?alt=media&token=9810a5cd-ce2b-4e6f-8737-56e821705230">Saurav Kanegaonkar - Interview Experience</a>
                        <a class="btn btn-success btn-transcript" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2020%20Internships%2FSamsung%20R%26D%20Interview%20Experience.pdf?alt=media&token=cd394407-79ac-4a49-958e-594d8d50c723">Siddhesh Bandgar -  Interview Experience</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-8 offset-2 mb-3">
            <div class="card">
                <div class="d-grid gap-2">
                    <a class="btn glow-on-hover btn-outline-dark block" data-bs-toggle="collapse" data-target="#com8" role="button" aria-expanded="false" aria-controls="com8" href="#com8">SAP Labs</a>
                </div>
                <div class="collapse p-3" id="com8">
                    <div>
                        <a class="btn btn-success btn-transcript" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2020%20Internships%2FSayali%20Kulkarni.pdf?alt=media&token=c3e0fc91-5a75-4623-aa47-575c961f7e14">Sayali Kulkarni - Interview Experience</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-8 offset-2 mb-5">
            <div class="card">
                <div class="d-grid gap-2">
                    <a class="btn glow-on-hover btn-outline-dark block" data-bs-toggle="collapse" data-target="#com9" role="button" aria-expanded="false" aria-controls="com9" href="#com9">Wells Fargo</a>
                </div>
                <div class="collapse p-3" id="com9">
                    <div>
                        <a class="btn btn-success btn-transcript mb-3" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2020%20Internships%2FWells%20Fargo%20Interview%20Experience%20-%20Saharsh.pdf?alt=media&token=d4766651-834a-4a64-9bd4-611b966335bc">Saharsh Jain - Interview Experience</a>
                        <a class="btn btn-success btn-transcript" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2020%20Internships%2FWells%20Fargo-Akshat%20Shah.pdf?alt=media&token=c34fe3ef-992e-4254-a120-ba2d7e017324">Akshat Shah - Interview Experience</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center mb-3">
        <h2>2020 Placement Experiences</h2>
    </div>

    <div class="row">
        <div class="col-8 offset-2 mb-3">
            <div>
                <a class="btn glow-on-hover btn-outline-dark block" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2020%20Internships%2FBNY%20Mellon%20Technology%20FTE%20interview%20Experience%20.pdf?alt=media&token=dff95e7a-a3c7-49d9-8add-429c6e2e4b05">BNY Mellon - Interview Experience</a>
            </div>
        </div>   
    </div>

    <div class="row">
        <div class="col-8 offset-2 mb-3">
            <div>
                <a class="btn glow-on-hover btn-outline-dark block" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2020%20Internships%2FFTE%202020%20Interview%20Experience%20-%20Morgan%20Stanley.pdf?alt=media&token=d02a74b8-971e-459f-bdcd-589f9e7225c4">Morgan Stanley - Interview Experience</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-8 offset-2 mb-5">
            <div>
                <a class="btn glow-on-hover btn-outline-dark block" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2020%20Internships%2FSAP%20FTE%202020.pdf?alt=media&token=4c1d2d57-8805-498a-aa91-349460cd80c4">SAP Labs - Interview Experience</a>
            </div>
        </div>
    </div>
</div>