<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/css/button2.css">

<div class="container mb-4">
    <div class="d-flex justify-content-center mb-3">
        <h2>2021 Placement Experiences</h2>
    </div>

    <div class="row">
        <div class="col-8 offset-2 mb-3">
            <div class="card">
                <div class="d-grid gap-2">
                    <a class="btn glow-on-hover btn-outline-dark block" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="com1" href="#com1">Deutsche Bank</a>
                </div>
                <div class="collapse p-3" id="com1">
                    <div>
                        <a class="btn btn-success btn-transcript mb-3" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2021%20Placements%2FAditya-Patkar_Deutsche-Bank_FTE_Experience%20(1).pdf?alt=media&token=e7b5d28c-74d3-452c-aa29-89d1a34449fa">Aditya Patkar - Interview Experience</a>
                        <a class="btn btn-success btn-transcript mb-3" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2021%20Placements%2FDeutsche%20Bank%20Interview%20Experience.docx.pdf?alt=media&token=65b1e391-ca89-476c-bfc1-0d4a59e4728b">Anuj Raghani - Interview Experience</a>
                        <a class="btn btn-success btn-transcript" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2021%20Placements%2FUnnati%20Nandrekar-FTE%20Interview%20Experience%20Deutsche%20Bank.pdf?alt=media&token=ff0a84bf-afc8-4b4e-b20d-338640a57798">Unnati Nandrekar - Interview Experience</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-8 offset-2 mb-3">
            <div class="card">
                <div class="d-grid gap-2">
                    <a class="btn glow-on-hover btn-outline-dark block" data-bs-toggle="collapse" data-target="#com2" role="button" aria-expanded="false" aria-controls="com2" href="#com2">FinIQ</a>
                </div>
                <div class="collapse p-3" id="com2">
                    <div>
                        <a class="btn btn-success btn-transcript" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2021%20Placements%2FMounil-Shah_FinIQ_2021.pdf?alt=media&token=86dce4bf-65bb-430a-a54d-f975cf25ddc0">Mounil Shah - Interview Experience</a>
                    </div>
                </div>
            </div>
        </div>      
    </div>

    <div class="row">
        <div class="col-8 offset-2 mb-3">
            <div class="card">
                <div class="d-grid gap-2">
                    <a class="btn glow-on-hover btn-outline-dark block" data-bs-toggle="collapse" data-target="#com3" role="button" aria-expanded="false" aria-controls="com3" href="#com3">Goldman Sachs</a>
                </div>
                <div class="collapse p-3" id="com3">
                    <div>
                        <a class="btn btn-success btn-transcript mb-3" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2021%20Placements%2FHrim%20Gandhi.pdf?alt=media&token=2ffa9d9d-8997-4a52-be7a-3af82275f84a">Hrim Gandhi - Interview Experience</a>
                        <a class="btn btn-success btn-transcript" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2021%20Placements%2FSagar%20Dholakia.pdf?alt=media&token=927b52b3-f64a-454b-b3b4-ebc991ce59d2">Sagar Dholakia - Interview Experience</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-8 offset-2 mb-3">
            <div class="card">
                <div class="d-grid gap-2">
                    <a class="btn glow-on-hover btn-outline-dark block" data-bs-toggle="collapse" data-target="#com4" role="button" aria-expanded="false" aria-controls="com4" href="#com4">Morgan Stanley</a>
                </div>
                <div class="collapse p-3" id="com4">
                    <div>
                        <a class="btn btn-success btn-transcript mb-3" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2021%20Placements%2FInterview_Exp.pdf?alt=media&token=da696ff0-883e-4957-b105-5bef24fb0625">Archeel Parekh - Interview Experience</a>
                        <a class="btn btn-success btn-transcript mb-3" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2021%20Placements%2FMorgan_Stanley_FTE_Yash_Tailor.pdf?alt=media&token=1143a706-fae3-4caf-808c-dc5bc2442c9f">Yash Tailor - Interview Experience</a>
                        <a class="btn btn-success btn-transcript" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2021%20Placements%2FPPO_Interview_Experience_Morgan%20Stanley.pdf?alt=media&token=b86f4d54-0467-4f00-b065-492b2d7a11d8">Priyanshi Gupta - Interview Experience</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-8 offset-2 mb-3">
            <div class="card">
                <div class="d-grid gap-2">
                    <a class="btn glow-on-hover btn-outline-dark block" data-bs-toggle="collapse" data-target="#com5" role="button" aria-expanded="false" aria-controls="com5" href="#com5">MSCI</a>
                </div>
                <div class="collapse p-3" id="com5">
                    <div>
                        <a class="btn btn-success btn-transcript mb-3" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2021%20Placements%2FRiya-Gupta_MSCI_FTE_Interview-Experience.pdf?alt=media&token=b39b7d42-5a17-4b8c-8891-31f00fff9ab1">Riya Gupta - Interview Experience</a>
                        <a class="btn btn-success btn-transcript mb-3" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2021%20Placements%2FMSCI%20_%20FTE%20Interview%20_%20On-Campus.pdf?alt=media&token=9c9c64ec-ef8b-41fe-88c5-7dec878b0d82">Devanshi Shah - Interview Experience</a>
                        <a class="btn btn-success btn-transcript" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2021%20Placements%2FAbhishek_Kalshetti_MSCI_FTE_Interview_Experience.pdf?alt=media&token=aaaed4e9-405e-41c1-8efa-a40cc67cb9f5">Abhishek Kalshetti - Interview Experience</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-8 offset-2 mb-3">
            <div class="card">
                <div class="d-grid gap-2">
                    <a class="btn glow-on-hover btn-outline-dark block" data-bs-toggle="collapse" data-target="#com6" role="button" aria-expanded="false" aria-controls="com6" href="#com6">Oracle</a>
                </div>
                <div class="collapse p-3" id="com6">
                    <div>
                        <a class="btn btn-success btn-transcript mb-3" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2021%20Placements%2FPiyush_Itankar_Oracle.pdf?alt=media&token=fa4c08e0-a6a6-407c-afd6-cba492ddd4f6">Piyush Itankar - Interview Experience</a>
                        <a class="btn btn-success btn-transcript mb-3" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2021%20Placements%2FVedant_Paranjape.pdf?alt=media&token=2b1d2de7-0886-4fcd-b52f-73df7a990eee">Vedant Paranjape - Interview Experience</a>
                        <a class="btn btn-success btn-transcript" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2021%20Placements%2FPrathamesh%20Patil.docx.pdf?alt=media&token=74b409f3-79d2-4a33-8599-a027ed036a96">Prathamesh Patil - Interview Experience</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-8 offset-2 mb-3">
            <div class="card">
                <div class="d-grid gap-2">
                    <a class="btn glow-on-hover btn-outline-dark block" data-bs-toggle="collapse" data-target="#com7" role="button" aria-expanded="false" aria-controls="com7" href="#com7">SAP Labs</a>
                </div>
                <div class="collapse p-3" id="com7">
                    <div>
                        <a class="btn btn-success btn-transcript" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2021%20Placements%2FSAP%20Labs%20Interview%20Experience%20-%20Mohammed%20Mehdi.pdf?alt=media&token=3af87c03-64b0-4b49-be48-496c988ce500">Mohammed Mehdi - Interview Experience</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-8 offset-2 mb-3">
            <div class="card">
                <div class="d-grid gap-2">
                    <a class="btn glow-on-hover btn-outline-dark block" data-bs-toggle="collapse" data-target="#com8" role="button" aria-expanded="false" aria-controls="com8" href="#com8">Tata Digital</a>
                </div>
                <div class="collapse p-3" id="com8">
                    <div>
                        <a class="btn btn-success btn-transcript" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2021%20Placements%2FTata%20Digital%20Interview%20Experience-Surendrakumar%20Pandey.pdf?alt=media&token=d1e16e6c-57b1-4696-817a-228f26cc7342">Surendrakumar Pandey - Interview Experience</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-8 offset-2 mb-3">
            <div class="card">
                <div class="d-grid gap-2">
                    <a class="btn glow-on-hover btn-outline-dark block" data-bs-toggle="collapse" data-target="#com9" role="button" aria-expanded="false" aria-controls="com9" href="#com9">UBS</a>
                </div>
                <div class="collapse p-3" id="com9">
                    <div>
                        <a class="btn btn-success btn-transcript" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2021%20Placements%2FNaveen%20Nehru.pdf?alt=media&token=fcaee007-f3c8-4505-9d1d-a1facf839151">Naveen Nehru - Interview Experience</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-8 offset-2 mb-3"><div class="card">
            <div class="d-grid gap-2">
                <a class="btn glow-on-hover btn-outline-dark block" data-bs-toggle="collapse" data-target="#com10" role="button" aria-expanded="false" aria-controls="com10" href="#com10">Wells Fargo</a>
            </div>
            <div class="collapse p-3" id="com10">
                <div>
                    <a class="btn btn-success btn-transcript mb-3" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2021%20Placements%2FAbhishek%20Kalshetti%20WellsFargo_FTE_Interview_Experience.pdf?alt=media&token=20c9f3de-b972-460a-8b98-6cf4367d8b4b">Abhishek Kalshetti - Interview Experience</a>
                    <a class="btn btn-success btn-transcript mb-3" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2021%20Placements%2FWells%20Fargo%20_%20FTE%20Interview%20_%20On-Campus.pdf?alt=media&token=eda5b67c-b8b3-44d3-96be-61b17e501776">Devanshi Shah - Interview Experience</a>
                    <a class="btn btn-success btn-transcript" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2021%20Placements%2FWells%20Fargo%20Interview%20Experience.pdf?alt=media&token=e12ec2c6-24af-46ca-b86e-e6a3f29fb23c">Siddhesh Bandgar - Interview Experience</a>
                </div>
            </div>
        </div></div>
    </div>  
</div>