<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/css/button2.css">

<div class="container mb-5">
    <div class="d-flex justify-content-center mb-3">
        <h2>2021 Internship Experiences</h2>
    </div>
    
    <div class="row">
        <div class="col-8 offset-2 mb-3">
            <div class="card">
                <div class="d-grid gap-2">
                    <a class="btn glow-on-hover btn-outline-dark block" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="com1" href="#com1">Amazon</a>
                </div>
                <div class="collapse p-3" id="com1">
                    <div>
                        <a class="btn btn-success btn-transcript" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2021%20Internships%2FGauri_Shewale.pdf?alt=media&token=084843fc-3189-4095-85dd-43796cde48ba">Gauri Shewale - Interview Experience</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-8 offset-2 mb-3">
            <div class="card">
                <div class="d-grid gap-2">
                    <a class="btn glow-on-hover btn-outline-dark block" data-bs-toggle="collapse" data-target="#com2" role="button" aria-expanded="false" aria-controls="com2" href="#com2">Barclays</a>
                </div>
                <div class="collapse p-3" id="com2">
                    <div>
                        <a class="btn btn-success btn-transcript mb-3" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2021%20Internships%2FAbhay%20Ubhale%20-%20Barclays%20Intern%20Interview%20Experience.pdf?alt=media&token=0edcf11e-c702-44bd-aa0d-8205cf7e4a66">Abhay Ubhale - Interview Experience</a>
                        <a class="btn btn-success btn-transcript" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2021%20Internships%2FAnkit%20Jaiswal%20Barclays%20Interview%20Experience.pdf?alt=media&token=56d6e658-5d0e-4518-878f-b4df6f4d4802">Ankit Jaiswal - Interview Experience</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8 offset-2 mb-3">
            <div class="card">
                <div class="d-grid gap-2">
                    <a class="btn glow-on-hover btn-outline-dark block" data-bs-toggle="collapse" data-target="#com3" role="button" aria-expanded="false" aria-controls="com3" href="#com3">Citi Bank</a>
                </div>
                <div class="collapse p-3" id="com3">
                    <div>
                        <a class="btn btn-success btn-transcript mb-3" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2021%20Internships%2FNishtha%20Rajiv%20Sainger_Citi%20Bank.pdf?alt=media&token=cf0c334a-01e7-461f-98d0-93fd36fbab91">Nishtha Sainger - Interview Experience</a>
                        <a class="btn btn-success btn-transcript" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2021%20Internships%2FPrasad%20Thakare_Citi%20Corp.pdf?alt=media&token=70da94b0-822d-460b-a20b-77e0a138814a">Prasad Thakre - Interview Experience</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8 offset-2 mb-3">
            <div class="card">
                <div class="d-grid gap-2">
                    <a class="btn glow-on-hover btn-outline-dark block" data-bs-toggle="collapse" data-target="#com4" role="button" aria-expanded="false" aria-controls="com4" href="#com4">DE Shaw</a>
                </div>
                <div class="collapse p-3" id="com4">
                    <div>
                        <a class="btn btn-success btn-transcript mb-3" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2021%20Internships%2FPriya%20Nagda.pdf?alt=media&token=5a11edde-c828-43a5-ab72-862dc89bcc01">Priya Nagda - Interview Experience</a>
                        <a class="btn btn-success btn-transcript" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2021%20Internships%2FRavi_Maurya_DEShaw.pdf?alt=media&token=ecd52b55-8dac-40c9-b0ac-596ffda23c30">Ravi Maurya - Interview Experience</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8 offset-2 mb-3">
            <div class="card">
                <div class="d-grid gap-2">
                    <a class="btn glow-on-hover btn-outline-dark block" data-bs-toggle="collapse" data-target="#com5" role="button" aria-expanded="false" aria-controls="com5" href="#com5">Deutsche Bank</a>
                </div>
                <div class="collapse p-3" id="com5">
                    <div>
                        <a class="btn btn-success btn-transcript" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2021%20Internships%2FArvind%20Mundhe.pdf?alt=media&token=b78fd6fd-b528-4fac-a19c-40eab20301bc">Arvind Mundhe - Interview Experience</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8 offset-2 mb-3">
            <div class="card">
                <div class="d-grid gap-2">
                    <a class="btn glow-on-hover btn-outline-dark block" data-bs-toggle="collapse" data-target="#com6" role="button" aria-expanded="false" aria-controls="com6" href="#com6">Fiserv</a>
                </div>
                <div class="collapse p-3" id="com6">
                    <div>
                        <a class="btn btn-success btn-transcript mb-3" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2021%20Internships%2FAzeez%20Dandawala_Fiserv.pdf?alt=media&token=1befae98-af23-44c1-9229-0f93bfa0a976">Azeez Dandawala - Interview Experience</a>
                        <a class="btn btn-success btn-transcript mb-3" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2021%20Internships%2FPrachiti%20Barge_Fiserv_Interview_Experience.pdf?alt=media&token=cc848e61-eef7-435c-9d46-68a80b595bba">Prachiti Barge - Interview Experience</a>
                        <a class="btn btn-success btn-transcript mb-3" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2021%20Internships%2FSiddharth%20Shah%20Fiserv%20Interview%20Experience.pdf?alt=media&token=6af905de-161f-4653-93a9-65b86f8c7b23">Siddharth Shah - Interview Experience</a>
                        <a class="btn btn-success btn-transcript mb-3" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2021%20Internships%2FTanish%20Sawant_Fiserv_Interview_Experience.pdf?alt=media&token=f34d48e9-f64f-449b-91cc-2c533d28aa77">Tanish Sawant - Interview Experience</a>
                        <a class="btn btn-success btn-transcript" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2021%20Internships%2FVishal%20Dange.pdf?alt=media&token=47d041db-d048-4812-bb74-a05012275bb2">Vishal Dange - Interview Experience</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8 offset-2 mb-3"">
            <div class="card">
                <div class="d-grid gap-2">
                    <a class="btn glow-on-hover btn-outline-dark block" data-bs-toggle="collapse" data-target="#com7" role="button" aria-expanded="false" aria-controls="com7" href="#com7">Goldman Sachs</a>
                </div>
                <div class="collapse p-3" id="com7">
                    <div>
                        <a class="btn btn-success btn-transcript mb-3" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2021%20Internships%2FPriyanka%20-%20GS%20Interview%20Experience.pdf?alt=media&token=92dc0b8e-21ce-4afa-9de6-257b44bae611">Priyanka - Interview Experience</a>
                        <a class="btn btn-success btn-transcript" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2021%20Internships%2FVedanti_GS.pdf?alt=media&token=ef25e7b8-8848-4a32-90ef-f8d0ca982261">Vedanti -  Interview Experience</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8 offset-2 mb-3">
            <div class="card">
                <div class="d-grid gap-2">
                    <a class="btn glow-on-hover btn-outline-dark block" data-bs-toggle="collapse" data-target="#com8" role="button" aria-expanded="false" aria-controls="com8" href="#com8">HTSI</a>
                </div>
                <div class="collapse p-3" id="com8">
                    <div>
                        <a class="btn btn-success btn-transcript mb-3" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2021%20Internships%2FNikheel_Indanoor_HTSI.pdf?alt=media&token=b2115e6b-1350-40bb-8135-06a4facdea92">Nikheel Indanoor - Interview Experience</a>
                        <a class="btn btn-success btn-transcript mb-3" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2021%20Internships%2FPankaj_Khushalani_HTSI.pdf?alt=media&token=b07543e5-d657-49b2-ae3c-adbd145ec919">Pankaj Khushalani - Interview Experience</a>
                        <a class="btn btn-success btn-transcript" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2021%20Internships%2FVedant_Mondkar_HTSI_Experience.pdf?alt=media&token=a217f199-0e23-4fc8-9c82-070a62b18e3d">Vedant Mondkar - Interview Experience</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8 offset-2 mb-3">
            <div class="card">
                <div class="d-grid gap-2">
                    <a class="btn glow-on-hover btn-outline-dark block" data-bs-toggle="collapse" data-target="#com9" role="button" aria-expanded="false" aria-controls="com9" href="#com9">Morgan Stanley</a>
                </div>
                <div class="collapse p-3 border-dark" id="com9">
                    <div>
                        <a class="btn btn-success btn-transcript mb-3" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2021%20Internships%2FAtharva_Patil_Morgan_Stanley.pdf?alt=media&token=191bd6f0-feb7-4894-8d26-53fef2657ffb">Atharva Patil - Interview Experience</a>
                        <a class="btn btn-success btn-transcript mb-3" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2021%20Internships%2FDhruvin%20Gandhi.pdf?alt=media&token=322511d0-163f-4f5e-8c50-0665406af905">Dhruvin Gandhi - Interview Experience</a>
                        <a class="btn btn-success btn-transcript mb-3" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2021%20Internships%2FSaksham%20Tikoo%20MS%20Internship%20experience.pdf?alt=media&token=478e6b79-2cae-424c-b869-2cc7b31f7956">Saksham Tikoo - Interview Experience</a>
                        <a class="btn btn-success btn-transcript mb-3" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2021%20Internships%2FUtsav_Khatu_Morgan_Stanley.pdf?alt=media&token=ccd2b76f-9005-4c99-828a-fe4c5d46ea7e">Utsav Khatu - Interview Experience</a>
                        <a class="btn btn-success btn-transcript" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2021%20Internships%2FVaishnavi%20Shah.pdf?alt=media&token=34d4b836-552f-4413-af30-40fb5ed7b991">Vaishnavi Shah - Interview Experience</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8 offset-2 mb-3">
            <div class="card">
                <div class="d-grid gap-2">
                    <a class="btn glow-on-hover btn-outline-dark block" data-bs-toggle="collapse" data-target="#com10" role="button" aria-expanded="false" aria-controls="com10" href="#com10">PwC</a>
                </div>
                <div class="collapse p-3" id="com10">
                    <div>
                        <a class="btn btn-success btn-transcript mb-3" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2021%20Internships%2FAnupam_Laddha_PwC.pdf?alt=media&token=22478e07-04ed-48ae-a32b-23d309ae6193">Anupam Laddha - Interview Experience</a>
                        <a class="btn btn-success btn-transcript" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2021%20Internships%2FVishal%20Patil.pdf?alt=media&token=f0218959-5fe9-4e24-a153-e3e726e13c58">Vishal Patil - Interview Experience</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8 offset-2 mb-3">
            <div class="card">
                <div class="d-grid gap-2">
                    <a class="btn glow-on-hover btn-outline-dark block" data-bs-toggle="collapse" data-target="#com11" role="button" aria-expanded="false" aria-controls="com11" href="#com11">SAP Labs</a>
                </div>
                <div class="collapse p-3" id="com11">
                    <div>
                        <a class="btn btn-success btn-transcript mb-3" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2021%20Internships%2FReshmika%20Nambiar.pdf?alt=media token=fbf49a8f-3e29-448f-aba6-04274ee95543">Reshmika Nambiar - Interview Experience</a>
                        <a class="btn btn-success btn-transcript" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2021%20Internships%2FSagar_Mude_SAP_Labs.pdf?alt=media&token=c378c94d-9b5d-4cac-a966-d008b2a96b78">Sagar Mude - Interview Experience</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8 offset-2 mb-3">
            <div class="card">
                <div class="d-grid gap-2">
                    <a class="btn glow-on-hover btn-outline-dark block" data-bs-toggle="collapse" data-target="#com12" role="button" aria-expanded="false" aria-controls="com12" href="#com12">Wells Fargo</a>
                </div>
                <div class="collapse p-3" id="com12">
                    <div>
                        <a class="btn btn-success btn-transcript mb-3" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2021%20Internships%2FAryanKhurana_WellsFargo_Experience.pdf?alt=media&token=b8df0690-31c9-4a3a-a305-fd33e8301894">Aryan Khurana - Interview Experience</a>
                        <a class="btn btn-success btn-transcript mb-3" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2021%20Internships%2FJoyPurohit_WELLS_FARGO_Experience.pdf?alt=media&token=b4dd34b1-7ce3-44d4-a6a4-2312d77d297d">Joy Purohit - Interview Experience</a>
                        <a class="btn btn-success btn-transcript" href="https://firebasestorage.googleapis.com/v0/b/tpo-website-32e14.appspot.com/o/2021%20Internships%2FSoumilKamat_WellsFargo_Experience.pdf?alt=media&token=4272a63a-2225-4dfb-b52b-8706d73e0a51">Soumil Kamat - Interview Experience</a>
                    </div>
                </div>
            </div>
        </div>
    </div>   
</div>