<% layout('layouts/boilerplate')%>
    <div class="row justify-content-center mb-5">
        <div id='map' style='width: 400px; height: 508px;' class="mb-3 mt-2 me-4"></div>
        <div class="card ms-4 mt-2 mb-3" style="max-width: 18rem;">
            <div class="card-body text-dark">
                <div class="mb-3 mt-3">
                    <h5 class="card-title">Dr. N. P. Gulhane</h5>
                    <div>Professor In-charge T&P office</div>
                    <div>Tel. No. +91-22-24198121</div>
                    <div>E-mail ID: tpo@vjti.ac.in</div>
                </div>
                <div class="mb-3">
                    <h5 class="card-title">Mr. Prabhakar S. Kudalkar</h5>
                    <div>Co-ordinator TPO</div>
                    <div>Tel. No. +91-22-24181946 / +91-22-24198122</div>
                    <div>Tele fax +91-22-24102874</div>
                    <div>Mob: +91-9869921890</div>
                </div>
                <div class="mb-3">
                    <h5 class="card-title">Address</h5>
                    <div>Veermata Jijabai Technological Institute (VJTI),H.R Mahajani Rd,</div>
                    <div>Matunga(East), Mumbai</div>
                    <div>Maharashtra, 400019</div>
                </div>
            </div>
        </div>
    </div>
    <script src="/javascripts/map.js"></script>