<% layout('layouts/boilerplate')%>

    <div class="main mb-3">
        <div >
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item item active">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/0/0e/VJTI_College_Quadrangle.jpg" 
                            class="d-block w-100" alt="images">
                    </div>
                    <div class="carousel-item item ">
                        <img src="https://secureservercdn.net/160.153.137.40/xkt.381.myftpupload.com/wp-content/uploads/2021/11/lab1-pic-scaled.jpg?time=1637661991"
                            class="d-block w-100" alt="images">
                    </div>
                    <div class="carousel-item  item">
                        <img src="https://cache.careers360.mobi/media/colleges/reviews/IMG_0461.JPG"
                            class="d-block w-100 " alt="">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

    </div>
    <div class="container-fluid py-xl-5 py-lg-3 mb-3">
        <div class="row justify-content-center">
            <div class="col-md-11 col-lg-11 col-xl-11 col-sm-12">
                <h3 class="title font-weight-light text-dark text-center mb-6 mt-2" id="tpo">Office of Training And
                    Placement
                </h3>

                <div class="home mt-5 mb-4">
                    <div class="border-bottom-0 mx-auto mb-0 text-dark">
                        <h3 class="mb-3">Overview of our Institute</h3>
                        <p class="pb-2 text-dark">VJTI Mumbai (estd. in 1887 as Victoria Jubilee Technical Institute)
                            has
                            pioneered India’s Engineering
                            education,
                            research and training ecosystem. Pre-independence, VJTI had been instrumental in driving
                            industrial
                            growth
                            throughout united India. Post-independence, VJTI played a pivotal role in setting up IITs
                            and
                            RECs of
                            India
                            and
                            strengthened technology excellence of country.

                            In 1997, VJTI changed its name to Veermata Jijabai Technological Institute to honor mother
                            of
                            Chhatrapati
                            Shivaji Maharaj.</p>
                        <p class="pb-2 text-dark">Located in South Mumbai, VJTI is an autonomous institution owned by
                            Maharashtra State Government. The
                            institute
                            offers programs in engineering and technology at the diploma, degree, post-graduate and
                            doctoral
                            levels.

                            VJTI is known for its high quality teaching, collaborative research, industry connect and
                            strong
                            alumni
                            network.</p>


                    </div>
                </div>

                <div class="home mb-4">
                    <div class="border-bottom-0 mx-auto mb-0 text-dark mt-4">
                        <h3 class="mb-3">Message from the Director </h3>
                        <p class="pb-2 text-dark">VJTI Mumbai is globally renowned for imparting quality technology
                            education and research since 1887. Its
                            graduates combine a solid technical grounding with supporting knowledge, including soft
                            skills.
                            VJTI
                            nurtures students through a cordial teaching-learning environment, well designed curriculum,
                            well
                            equipped
                            labs, good teachers and a strong support of alumni network. Outside the classroom, students
                            engage in a
                            variety of activities to develop well-rounded personae. Our graduates have immense
                            confidence
                            and
                            necessary
                            skills to become successful and valued members of any organization. I wish my students a
                            great
                            success
                            in
                            their career and life, and look forward to mutually rewarding and fruitful association with
                            recruiters
                            from
                            the world’s leading organizations.</p>
                        <p class="pb-0 text-dark">I look forward to the placement season 2021-22 and wish the students
                            all
                            the best.</p>
                        <p class="pb-2 text-dark">-Dr. Dhiren Patel Director, VJTI MATUNGA.</p>

                    </div>
                </div>
                <div class="home mb-4">
                    <div class="border-bottom-0 mx-auto mb-0 text-dark mt-4">
                        <h3 class="mb-3">Message from the Dean of Students And Alumni</h3>
                        <p class="pb-0 text-dark">VJTI inculcates in its students a combination of rigorous thinking,
                            innovation, hard work and solid fundamentals of science and technology, thus laying a strong
                            foundation for whatever career they choose.
                            VJTIans have excelled and acquired positions not only in Technology, but also in Management,
                            Finance and Governance. We encourage a healthy dialog with our friends from industry coming
                            to
                            VJTI for internship and recruitment.
                            We are open to suggestions from them to improve our academics and their recruitment
                            experience.
                            The placement and internship teams at VJTI Mumbai will work with you to ensure that our
                            students
                            will get their dream jobs and you get a suitable student/professional for your organization
                            to
                            move forward along a growth path.
                            Our best wishes to all for one more successful placement season.</p>
                        <p class="pb-2 text-dark">-Dr. Rohin Daruwala, Dean S&A, VJTI Matunga</p>
                    </div>
                </div>
                <div class="home mb-4">
                    <div class="border-bottom-0 mx-auto mb-0 text-dark mt-4">
                        <h3 class="mb-3">Message from the Placement Advisor</h3>
                        <p class="pb-0 text-dark">VJTI Mumbai has been most preferred academic institute of Maharashtra,
                            to
                            a large number of organisations for recruiting outstanding employees with immense future
                            leaders.
                            The rigorous and flexible academic curriculum, exposure to industry and research projects by
                            institute has heightened and strengthened their all-round development.
                            Maintaining a great legacy, VJTI continued to nurture the students for the strong academic
                            performance through theoretical concepts, practical understanding and peer learning, thereby
                            creating future leaders of society.
                            The presence of vigorous institute-industry collaborations, international exchange programs
                            and
                            industrial training opportunities help students to excel and be ahead in competitive
                            environment. We highly value our partnership with recruiters,
                            alumni and friends of VJTI and remain committed to making your recruiting experience
                            productive
                            and positive</p>
                        <p class="pb-2 text-dark">-Dr. N. P. Gulhane, Professor In-Charge, TPO VJTI (+91-9322080056)</p>
                    </div>
                </div>
                <div class="home mb-4">
                    <div class="border-bottom-0 mx-auto mb-2 text-dark mt-4">
                        <h3 class="mb-3">More about VJTI Matunga</h3>
                        <ul>
                            <li>
                                Vision <p class="pb-2 text-dark">To establish global leadership in the field of
                                    Technology
                                    and develop competent human resources for providing service to society
                                    Message from the Director</p>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                Mission<p class="pb-2 text-dark">To provide students with comprehensive knowledge of
                                    principles of engineering with a multi-disciplinary approach
                                    To create an intellectually stimulating environment for research, scholarship,
                                    creativity, innovation and professional activity.
                                    To foster relationship with other leading institutes of learning and research,
                                    alumni
                                    and industries in order to contribute to National and International development.</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <a href="https://vjti.ac.in/" target="_blank" title="VJTI Matunga"
                    class="btn btn-outline-primary mb-3">Read More</a>
            </div>

        </div>
    </div>
