.btn-design{
    display: block;
    text-align: left;
    padding: 15px;
    margin: 2px;
}

th{
    text-align: center;
}

td{
    text-align: center;
} 

#stick {
    position: sticky; 
    top: 0px;
}

#intro {
    background-image: url("https://res.cloudinary.com/djhcnbsvg/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1637673508/TPO-Website/BussinessWomen_efwjte.jpg");
    height: 50vh;
    width: 100%;
    object-fit:cover;
    background-size: 75% 75%;
    z-index:1;
}

@media (min-width: 992px) {
    #intro {
        margin-top: -58.59px; 
       
    }
}

.chartBox{
    height: 400px;
    width: 48%;
    display: inline-block;
}

#barchart{
    display: inline-block;
}

 
 .carousel .item {
    height: 500px;
    position: relative;
    width:100%;
    overflow:hidden;
    z-index:1;
  }

  .carousel-inner>.carousel-item>img, .carousel-inner>.item>button>img {
    display: block;
    position: absolute;
    height: 100%;
    object-fit: fill;
    max-height:100%;
    max-width: 100%;
    margin:auto;
    /* width: 100%; */
}
  
   
     
header{
    min-height: 15% !important;
}
@media only screen and (max-width : 770px) {
    #marathi{
        display : none;
    }
}

input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
  }

/* Hide all steps by default: */
.tab {
    display: none;
  }
  
  /* Make circles that indicate the steps of the form: */
  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  
  /* Mark the active step: */
  .step.active {
    opacity: 1;
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #03f89e;
}

/* Mark input boxes that gets an error on validation: */

  input.invalid {
    background-color:white;
}

  
  


  
 
  
  
 
  