.btn-design{
    display: block;
    text-align: left;
    padding: 15px;
    margin: 2px;
}

th{
    text-align: center;
}

td{
    text-align: center;
} 

#stick {
    position: sticky; 
    top: 0px;
}


#intro {
    background-image: url("https://res.cloudinary.com/djhcnbsvg/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1637673508/TPO-Website/BussinessWomen_efwjte.jpg");
    height: 50vh;
    width: 100%;
    background-size: 75% 75%;

}

@media (min-width: 992px) {
    #intro {
        margin-top: -58.59px;
    }
}

.chartBox{
    height: 400px;
    width: 48%;
    display: inline-block;
}

#barchart{
    display: inline-block;
}

.carousel .item {
    height: 420px;
  }
  
  .item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 300px;
  }