.btn-design{
    display: block;
    text-align: left;
    padding: 15px;
    margin: 2px;
}

th{
    text-align: center;
}

td{
    text-align: center;
} 

#stick {
    position: sticky; 
    top: 0px;
}


        #intro {
            background-image: url("https://media.istockphoto.com/photos/businesswoman-using-computer-in-dark-office-picture-id557608443?b=1&k=20&m=557608443&s=170667a&w=0&h=M5C8vp9R2_gkvxhoAxCovuKFIJjROylmo4tqiSdVHOQ=");
            height: 84vh;
            width: 100%;
            background-size: 100% 100%;

        }

        @media (min-width: 992px) {
            #intro {
                margin-top: -58.59px;
            }
        }
   
