<% layout('layouts/boilerplate')%>
<script>
    const main = document.getElementsByClassName("container mt-5");
    main[0].setAttribute("class", "container");
</script>
    <div class="container-fluid py-xl-5 py-lg-3">
        <div class="row justify-content-center">
            <div class="col-md-11 col-lg-11 col-xl-11 col-sm-12">
                <div class="border-bottom-0 mx-auto mb-0 text-dark">
                    <h3 class="mb-3 text-center">ALUMNI DETAILS</h3>
                    <p class="pb-2 text-dark">The VJTI Alumni association was formed on 10th March 1944 and was called
                        ‘The Old Boys’ Association’. It was later rechristened as ‘VJTI Alumni Association’. The
                        association endeavours to establish contact between the past and present students of the
                        institute and the staff. It strives to create an everlasting bond between the institute and the
                        alumni by inviting them to participate in various activities of the institute like curriculum
                        development, undertaking of joint research and consultancy projects, development of centres of
                        excellence in emerging areas of technology, student mentoring, guest lectures, laboratory and
                        infrastructure development. The Alumni association has its own office within the institute
                        premises where all information relating to the alumni will be made available.</p>

                    <p class="pb-2 text-dark">The VJTI Alumni Association has been helping the alma mater in modernizing
                        laboratories, classrooms, the auditorium, the cafeteria, wash rooms, and the hostel
                        infrastructure as well as providing scholarships and funding support to students.</p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="card mb-3 col-md-3 m-3 p-3" style="width: 18rem;">
                <img src="https://res.cloudinary.com/djhcnbsvg/image/upload/c_scale,h_300,w_300/v1638247344/Alumini/Shakuntala_Bhagat_eawqnu.jpg" class="card-img-top img-thumbnail" alt="">
                <div class="card-body">
                    <h5 class="card-title">Mrs. Shakuntala Bhagat</h5>
                    <p class="card-text">India’s First Female Civil Engineer Built 69 Bridges From Kashmir to
                        Arunachal
                        Pradesh In 1953, Shakuntala A Bhagat, the daughter of...</p>
                    <a href="https://vjtialumni.com/f/Mrs-Shakuntala-Bhagat-8364?source=view"
                        class="btn btn-primary">READ MORE</a>
                </div>
            </div>
            <div class="card mb-3 col-md-3 m-3 p-3" style="width: 18rem;">
                <img src="https://res.cloudinary.com/djhcnbsvg/image/upload/c_scale,h_300,w_300/v1638247344/Alumini/Kiran_Deshmukh_vkiohv.jpg" class="card-img-top img-thumbnail" alt="">
                <div class="card-body">
                    <h5 class="card-title">Vice Admiral Kiran Manikrao Deshmukh</h5>
                    <p class="card-text">Mr. Kiran Manikrao Deshmukh, is Vice Admiral in Indian Navy and presently
                        Director General Naval Projects, Visakhapatnam. He has he...</p>
                    <a href="https://vjtialumni.com/f/Vice-Admiral-Kiran-Manikrao-Deshmukh-7315?source=view"
                        class="btn   btn-primary">READ MORE</a>
                </div>
            </div>
            <div class="card mb-3 col-md-3 m-3 p-3 " style="width: 18rem;">
                <img src="https://res.cloudinary.com/djhcnbsvg/image/upload/c_scale,h_300,w_300/v1638247347/Alumini/Keval_Desai_ybmasp.jpg" class="card-img-top img-thumbnail" alt="">
                <div class="card-body">
                    <h5 class="card-title">Mr. Keval Desai</h5>
                    <p class="card-text">Mr. Keval Desai is a former director of product management at Google and
                        vicepresident for product at Digg. Presently he is a partner...</p>
                    <a href="https://vjtialumni.com/f/Mr-Keval-Desai-7357?source=view"
                        class="btn btn-primary">READMORE</a>
                </div>
            </div>
        </div>


        <div class="row justify-content-center mt-3">
            <div class="card mb-3 col-md-3 m-3 p-3" style=" width: 18rem;">
                <img src="https://res.cloudinary.com/djhcnbsvg/image/upload/c_scale,h_300,w_300/v1638249074/Alumini/Nikhar_Garg_dch1i0.jpg" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">Mr. Nikhar Garg</h5>
                    <p class="card-text">Mr. Nikhar Garg is an Indian born English badminton player. He made his
                        international debut for Bahrain in September 2013 at the Sus...</p>
                    <a href="https://vjtialumni.com/f/Mr-Nikhar-Garg-7355?source=view"
                        class="btn btn-primary img-thumbnail">READ MORE</a>
                </div>
            </div>
            <div class="card mb-3 col-md-3 m-3 p-3 " style="width: 18rem;">
                <img src="https://res.cloudinary.com/djhcnbsvg/image/upload/c_scale,h_300,w_300/v1638248869/Alumini/Sekhar_Basu_fgyr6f.jpg" class="card-img-top img-thumbnail" alt="">
                <div class="card-body">
                    <h5 class="card-title">Dr. Sekhar Basu</h5>
                    <p class="card-text">Dr. Sekhar basu is a well known nuclear scientist. He had served as the
                        Chairman, Atomic Energy Commission and Secretary to the Government of India,
                        Department......
                    </p>
                    <a href="https://vjtialumni.com/f/Dr-Sekhar-Basu-7316?source=view" class="btn   btn-primary">READ
                        MORE</a>
                </div>
            </div>
            <div class="card mb-3 col-md-3 m-3 p-3 " style="width: 18rem;">
                <img src="https://res.cloudinary.com/djhcnbsvg/image/upload/c_scale,h_300,w_300/v1638248864/Alumini/Anil_Kakodkar_a8eo2y.jpg" class="card-img-top img-thumbnail" alt="">
                <div class="card-body">
                    <h5 class="card-title">Dr. Anil Kakodkar</h5>
                    <p class="card-text">Dr. Anil Kakodkar is a renowned Indian nuclear scientist. He became the
                        Director of Bhabha Atomic Research Centre in the year 1996...</p>
                    <a href="https://vjtialumni.com/f/Dr-Anil-Kakodkar-7364?source=view"
                        class="btn btn-primary">READMORE</a>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <p>
                Alumni website managed by VJTI AA India: <a href="http://www.vjtialumni.com" target="_blank"
                    title="VJTI ALUMNI" class="btn btn-outline-secondary">Read More</a>
            </p>
            <p>
                International Alumni website managed by VJTI International AA USA : <a href="http://www.vjtialumni.com“
                        “https://www.vjtiintlalumni.org" target="_blank" title="VJTI INTERNATIONAL ALUMNI"
                    class="btn btn-outline-secondary ">Read More</a>
            </p>
        </div>

    </div>