<% layout('layouts/boilerplate')%>

<div>
    <a class="btn btn-design btn-outline-primary" href="/students/process">Placement Process</a>
</div>
<div>
    <a class="btn btn-design btn-outline-primary" href="/students/rules">Rules and Regulations</a>
</div>
<div>
    <a class="btn btn-design btn-outline-primary" href="#">Resume Templates</a>
</div>
<div>
    <a class="btn btn-design btn-outline-primary" href="/students/material">Interview Material</a>
</div>
<div>
    <a class="btn btn-design btn-outline-primary" href="/students/transcripts">Interview Transcripts</a>
</div> 
<div>
    <a class="btn btn-design btn-outline-primary mb-5" href="/students/alumni">Alumni Details</a>
</div>
