<% layout('layouts/boilerplate')%>

    <div class="container ">
        <div class="row mb-3">
            <div class="col-md-6 mb-3">
                <a class="btn btn-design btn-outline-primary" href="/students/process">Placement Process</a>
            </div>
            <div class="col-md-6 ">
                <a class="btn btn-design btn-outline-primary" href="/students/rules">Rules and Regulations</a>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6 mb-3">
                <a class="btn btn-design btn-outline-primary" href="/students/resume">Resume Templates</a>
            </div>
            <div class="col-md-6 ">
                <a class="btn btn-design btn-outline-primary" href="/students/material">Interview Material</a>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-6 mb-3">
                <a class="btn btn-design btn-outline-primary" href="/students/transcripts">Interview Transcripts</a>
            </div>
            <div class="col-md-6 ">
                <a class="btn btn-design btn-outline-primary mb-5" href="/students/alumni">Alumni Details</a>
            </div>
        </div>
    </div>

