<% layout('layouts/boilerplate')%>


<div>
    <a class="btn btn-design btn-outline-primary" href="#">Eligibility</a>
</div>
<div>
    <a class="btn btn-design btn-outline-primary" href="#">Resume Templates</a>
</div>
<div>
    <a class="btn btn-design btn-outline-primary" href="#">Placement procedure and rules</a>
</div>
<div>
    <a class="btn btn-design btn-outline-primary" href="#">Interview Material</a>
</div>
<div>
    <a class="btn btn-design btn-outline-primary" href="#">Interview Transcripts</a>
</div> 
<div>
    <a class="btn btn-design btn-outline-primary" href="#">Alumni Details</a>
</div> 