<% layout('layouts/boilerplate')%>

    <div class="container mb-5 mt-0">
        <div class="mb-3">
            <div class="card p">
                <div class="d-grid gap-2">
                    <a class="btn btn-outline-primary" data-bs-toggle="collapse" role="button" aria-expanded="false"
                        aria-controls="com1" href="#com1">Books</a>
                </div>
                <div class="collapse p-3" id="com1">
                    <div>
                        <a style="display: block;" class="mb-3 btn btn-success" 
                            href="https://firebasestorage.googleapis.com/v0/b/tpo-website-9892d.appspot.com/o/Material%2FBooks%2FC%20The%20Complete%20Reference%204th%20Ed%20Herbert%20Schildt.pdf?alt=media&token=35926ea4-3b62-4a49-a344-7f0abdd2e59a">C
                            The Complete Reference 4th Ed Herbert Schildt</a>
                        <a style="display: block;" class="mb-3 btn btn-success"
                            href="https://firebasestorage.googleapis.com/v0/b/tpo-website-9892d.appspot.com/o/Material%2FBooks%2FCPlusPlusNotesForProfessionals.pdf?alt=media&token=15903e27-9614-4c38-b8b8-8d12cccb619a">C++
                            Notes for Professionals</a>
                        <a style="display: block;" class="mb-3 btn btn-success"
                            href="https://firebasestorage.googleapis.com/v0/b/tpo-website-9892d.appspot.com/o/Material%2FBooks%2FCracking%20the%20Coding%20Interview%2C%205th%20Edition.pdf?alt=media&token=2a210d1d-4abd-407d-83c9-f0dcab8f2236">Cracking
                            the Coding Interview, 5th Edition</a>
                        <a style="display: block;" class="mb-3 btn btn-success"
                            href="https://firebasestorage.googleapis.com/v0/b/tpo-website-9892d.appspot.com/o/Material%2FBooks%2FHeadFirstJava2ndEdition_1467735817910.pdf?alt=media&token=7cfd872c-b603-4252-8c1b-9ee0105ac641">Head
                            First Java, 2nd Edition</a>
                        <a style="display: block;" class="mb-3 btn btn-success"
                            href="https://firebasestorage.googleapis.com/v0/b/tpo-website-9892d.appspot.com/o/Material%2FBooks%2FRS%20Agarwal%20quant%20Aptitude.pdf?alt=media&token=155cb4b4-4f19-4f17-8941-180f87ee1afe">Quantitative
                            Aptitude-R.S Agarwal</a>
                        <a style="display: block;" class="mb-3 btn btn-success"
                            href="https://firebasestorage.googleapis.com/v0/b/tpo-website-9892d.appspot.com/o/Material%2FBooks%2FTechnical%20Aptitude%20Questions%20eBook%20(1).pdf?alt=media&token=6717103f-b75e-41f2-a187-5331c1b89683">Technical
                            Interview Questions</a>
                        <a style="display: block;" class="mb-3 btn btn-success"
                            href="https://firebasestorage.googleapis.com/v0/b/tpo-website-9892d.appspot.com/o/Material%2FBooks%2Fc%2B%2B%20the%20complete%20reference%2C%204th%20edition%20-%20herbert%20schildt.pdf?alt=media&token=f0d0c833-7d26-44ee-86c3-8847c839f7c5">C++:
                            The Complete Reference, 4th Edition</a>
                        <a style="display: block;" class="mb-3 btn btn-success"
                            href="https://firebasestorage.googleapis.com/v0/b/tpo-website-9892d.appspot.com/o/Material%2FBooks%2Fccinterview.pdf?alt=media&token=966d14c3-6d1a-4be5-9ba3-8ee739dd38e9">Cracking
                            the Coding Interview, 6th Edition 189 Programming Questions and Solutions</a>
                        <a style="display: block;" class="mb-3 btn btn-success"
                            href="https://firebasestorage.googleapis.com/v0/b/tpo-website-9892d.appspot.com/o/Material%2FBooks%2Fdata-structures-and-algorithms-narasimha-karumanchi(www.ebook-dl.com).pdf?alt=media&token=b44b1d56-4e94-4fbb-b6c8-f515fb88ec21">Data
                            Structures and Algorithms Made Easy: Data Structures and Algorithmic Puzzles
                        </a>
                        <a style="display: block;" class="btn btn-success"
                            href="https://firebasestorage.googleapis.com/v0/b/tpo-website-9892d.appspot.com/o/Material%2FBooks%2Funderstanding-and-using-c-pointers.pdf?alt=media&token=bc42a317-7fe4-4b83-824f-4962eaff0050">Understanding
                            and Using C Pointers
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <div class="card">
                <div class="d-grid gap-2">
                    <a class="btn btn-outline-primary" data-bs-toggle="collapse" data-target="#com2" role="button"
                        aria-expanded="false" aria-controls="com2" href="#com2">Mock Interview Questions</a>
                </div>
                <div class="collapse" id="com2">
                    <div class="card card-body">
                        <a style="display: block;" class="mb-3 btn btn-success"
                            href="https://firebasestorage.googleapis.com/v0/b/tpo-website-9892d.appspot.com/o/Material%2FMock%20interview%20Questions%2FDSA_COC_Mock_Interview_Quesions.pdf?alt=media&token=0d650596-97eb-4cd4-b46d-3e6c86d8ee5c">DSA
                            COC Mock Interview Quesions</a>
                        <a style="display: block;" class="btn btn-success"
                            href="https://firebasestorage.googleapis.com/v0/b/tpo-website-9892d.appspot.com/o/Material%2FMock%20interview%20Questions%2FInterview%20Apti.pdf?alt=media&token=04a3fea7-cfba-47c5-83f1-b506f2eb0614">Interview
                            Aptitude</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <div class="card">
                <div class="d-grid gap-2">
                    <a class="btn btn-outline-primary" data-bs-toggle="collapse" data-target="#com2" role="button"
                        aria-expanded="false" aria-controls="com3" href="#com3">Others</a>
                </div>
                <div class="collapse" id="com3">
                    <div class="card card-body">
                        <a style="display: block;" class="mb-3 btn btn-success"
                            href="https://firebasestorage.googleapis.com/v0/b/tpo-website-9892d.appspot.com/o/Material%2F8%20Non-Binary%20Trees%20and%20Traversals%20-%20Deep%20Kawa.pdf?alt=media&token=846166c0-74eb-415d-a39d-cfca2fd27037">Non-Binary
                            Trees and Traversals</a>
                        <a style="display: block;" class="btn btn-success"
                            href="https://firebasestorage.googleapis.com/v0/b/tpo-website-9892d.appspot.com/o/Material%2FDomain-Wise%20Database%20of%20Questions%20for%20Interviews.pdf?alt=media&token=0b46342c-739b-4504-843e-9dced43df8e0">Domain-Wise
                            Database of Questions for Interviews</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
