<% layout('layouts/boilerplate')%>

<div>
    <div>
        <h4>1. JOB ANNOUNCEMENT FORMAT</h4>
        <p>After receiving the invitations, companies/organizations sends out tentative date, Job AnnouncemenForm (JAF) and other relevant information to the Training and Placement Office.</p>
    </div>
    <div>
        <h4>2. DISCUSSION</h4>
        <p>Allocation of suitable dates for Pre-Placement Talk (PPT) is decided after discussions between thcompany and the TPO</p>
    </div>
    <div>
        <h4>3. APPLICATIONS</h4>
        <p>Students are notified for the job-profile being offered. Interested students' Details and Resumes (if required) are made available to the companies</p>
    </div>
    <div>
        <h4>4. SHORTLIST</h4>
        <p>The list of shortlisted students is mailed to the Training and Placement Office prior to the campus selection date</p>
    </div>
    <div>
        <h4>5. SELECTION PROCEDURE</h4>
        <p>The company/organization conducts its PPT and selection procedure. The company/organization is required to declare the final list of selected students after the procedure completion.</p>
    </div>
    <div>
        <h4>6. JOB OFFER</h4>
        <p>Correspondence with the students regarding offer letters is done through the Training and Placement Office.</p>
    </div>
    <div>
        <h4>7. JOINING</h4>
        <p>Selected students will join company/organization as per dates communicated by the comapny/organiztion</p>
    </div>
</div>