 <% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/css/timeline2.css">
<style>
    main {
        background-image: url("https://res.cloudinary.com/djhcnbsvg/image/upload/v1639241906/TPO-Website/Process_Bg_fzvewv.jpg");
    }
</style>
<script>
    const main = document.getElementsByClassName("container mt-5");
    main[0].setAttribute("class", "");
</script>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="main-timeline">
                <div class="timeline">
                    <div class="timeline-content">
                            <img src="https://res.cloudinary.com/djhcnbsvg/image/upload/c_scale,h_130,w_160/v1639231181/TPO-Website/Announce_xeatx5.jpg" class="timeline-icon">
                        <div class="inner-content">
                            <h3 class="title">Job Announcement Format</h3>
                            <p class="description">
                                After receiving the invitations, companies/organizations sends out tentative date, Job AnnouncemenForm (JAF) and other relevant information to the Training and Placement Office.
                            </p>
                        </div>
                        <div class="timeline-year"><span>1</span></div>
                    </div>
                </div>
                <div class="timeline">
                    <div class="timeline-content">
                        <img src="https://res.cloudinary.com/djhcnbsvg/image/upload/c_scale,h_130,w_160/v1639232723/TPO-Website/discussion_uwnkmq.jpg" alt="" srcset="" class="timeline-icon">
                        <div class="inner-content">
                            <h3 class="title">Discussion</h3>
                            <p class="description">
                                Allocation of suitable dates for Pre-Placement Talk (PPT) is decided after discussions between thcompany and the TPO
                            </p>
                        </div>
                        <div class="timeline-year"><span>2</span></div>
                    </div>                    
                </div>
                <div class="timeline">
                    <div class="timeline-content">
                        <img src="https://res.cloudinary.com/djhcnbsvg/image/upload/c_scale,h_130,w_160/v1639233018/TPO-Website/Application_p7u4l3.jpg" alt="" srcset="" class="timeline-icon">
                        <div class="inner-content">
                            <h3 class="title">Applications</h3>
                            <p class="description">
                                Students are notified for the job-profile being offered. Interested students' Details and Resumes (if required) are made available to the companies
                            </p>
                        </div>
                        <div class="timeline-year"><span>3</span></div>
                    </div>                    
                </div>
                <div class="timeline">
                    <div class="timeline-content">
                        <img src="https://res.cloudinary.com/djhcnbsvg/image/upload/c_scale,h_130,w_160/v1639233683/TPO-Website/Shortlist_vwbmmo.jpg" alt="" srcset="" class="timeline-icon">
                        <div class="inner-content">
                            <h3 class="title">Shortlist</h3>
                            <p class="description">
                                The list of shortlisted students is mailed to the Training and Placement Office prior to the campus selection date
                            </p>
                        </div>
                        <div class="timeline-year"><span>4</span></div>
                    </div>                    
                </div>
                <div class="timeline">
                    <div class="timeline-content">
                        <img src="https://res.cloudinary.com/djhcnbsvg/image/upload/c_scale,h_1810,w_3506/v1639231181/TPO-Website/Selection_n8zzlm.jpg" alt="" srcset="" class="timeline-icon">
                        <div class="inner-content">
                            <h3 class="title">Selection Procedure</h3>
                            <p class="description">
                                The company/organization conducts its PPT and selection procedure. The company/organization is required to declare the final list of selected students after the procedure completion.
                            </p>
                        </div>
                        <div class="timeline-year"><span>5</span></div>
                    </div>                    
                </div>
                <div class="timeline">
                    <div class="timeline-content">
                        <img src="https://res.cloudinary.com/djhcnbsvg/image/upload/c_scale,h_1810,w_3506/v1639231181/TPO-Website/Offer_kbkv0c.jpg" alt="" srcset="" class="timeline-icon">
                        <div class="inner-content">
                            <h3 class="title">Job Offer</h3>
                            <p class="description">
                                Correspondence with the students regarding offer letters is done through the Training and Placement Office.
                            </p>
                        </div>
                        <div class="timeline-year"><span>6</span></div>
                    </div>                    
                </div>
                <div class="timeline">
                    <div class="timeline-content">
                        <img src="https://res.cloudinary.com/djhcnbsvg/image/upload/c_scale,h_1810,w_3506/v1639231181/TPO-Website/hiredjpg_mgc6p0.jpg" alt="" srcset="" class="timeline-icon">
                        <div class="inner-content">
                            <h3 class="title">Joining</h3>
                            <p class="description">
                                Selected students will join company/organization as per dates communicated by the comapny/organiztion
                            </p>
                        </div>
                        <div class="timeline-year"><span>7</span></div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>