<% layout('layouts/boilerplate')%>

    <div class='row'>
        <h1 class="text-center">Create Resume</h1>
        <div class="col-6 offset-3">
            <form action="/students/resume" method="post" novalidate class="row g-3 validated-form">
                <div>
                    <div class="mb-3">
                        <label for="firstName" class="form-label">First Name</label>
                        <input type="text" class="form-control" id="firstName" placeholder="Enter first name"
                            name="personal[firstName]" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="lastName" class="form-label">Last Name</label>
                        <input type="text" class="form-control" id="lastName" placeholder="Enter last name"
                            name="personal[lastName]" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="mobile" class="form-label">Mobile No.</label>
                        <input type="text" class="form-control" id="mobile" placeholder="Enter mobile no"
                            name="personal[mobile]">
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="Enter Email"
                            name="personal[email]" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="github" class="form-label">Github</label>
                        <input type="url" class="form-control" id="github" placeholder="Enter github link"
                            name="personal[github]">
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="linkedin" class="form-label">LinkedIn</label>
                        <input type="url" class="form-control" id="linkedin" placeholder="Enter LinkedIn link"
                            name="personal[linkedin]" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                <div>

                ///////educational details
                <div>
                    <div class="mb-3">
                        <h3>ENTER DEGREE COLLEGE INFORMATION</h3>
                        <label for="degreeCollege" class="form-label">College Name</label>
                        <input type="text" class="form-control" id="degreeCollege" placeholder="Enter college name"
                            name="education[degreeCollege]" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="location" class="form-label">College Location</label>
                        <input type="text" class="form-control" id="location" placeholder="Enter college location"
                            name="education[degreeCollegeLocation]" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="degree" class="form-label">Degree</label>
                        <input type="text" class="form-control" id="degree" placeholder="Enter degree"
                            name="education[degree]" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="branch" class="form-label">Branch</label>
                        <input type="text" class="form-control" id="branch" placeholder="Enter Branch"
                            name="education[branch]" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="cgpa" class="form-label">Cgpa</label>
                        <input type="number" class="form-control" id="cgpa" placeholder="Enter Cgpa"
                            name="education[cgpa]">
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="year" class="form-label">Year</label>
                        <input type="text" class="form-control" id="year" placeholder="Enter year"
                            name="education[year]" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>

                    // junior cojunior
                    <div class="mb-3">
                        <h3>ENTER JUNIOR COLLEGE INFORMATION</h3>
                        <label for="juniorCollege" class="form-label">College Name</label>
                        <input type="text" class="form-control" id="juniorCollege" placeholder="Enter college name"
                            name="education[juniorCollege]" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="location" class="form-label">College Location</label>
                        <input type="text" class="form-control" id="location" placeholder="Enter college location"
                            name="education[juniorCollegeLocation]" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="board" class="form-label">Board</label>
                        <input type="text" class="form-control" id="board" placeholder="Enter board"
                            name="education[juniorCollegeBoard]" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="percentage" class="form-label">Percentage</label>
                        <input type="number" class="form-control" id="percentage" placeholder="Enter Percentage"
                            name="education[juniorCollegePercentage]">
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="year" class="form-label">Year</label>
                        <input type="text" class="form-control" id="year" placeholder="Enter year"
                            name="education[juniorCollegeYear]" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="jee" class="form-label">JEE Score</label>
                        <input type="number" class="form-control" id="jee" placeholder="Enter Jee Score"
                            name="education[jee]">
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="cet" class="form-label">MHT-CET</label>
                        <input type="number" class="form-control" id="cet" placeholder="Enter MHT-CET Score"
                            name="education[cet]">
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>

                    ///////// SCHOOL INFORMATION
                    <div class="mb-3">
                        <h3>ENTER SCHOOL INFORMATION</h3>
                        <label for="school" class="form-label">School Name</label>
                        <input type="text" class="form-control" id="school" placeholder="Enter school name"
                            name="education[school]" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="location" class="form-label">School Location</label>
                        <input type="text" class="form-control" id="location" placeholder="Enter School location"
                            name="education[schoolLocation]" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="board" class="form-label">Board</label>
                        <input type="text" class="form-control" id="board" placeholder="Enter board"
                            name="education[schoolBoard]" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="percentage" class="form-label">Percentage</label>
                        <input type="number" class="form-control" id="percentage" placeholder="Enter Percentage"
                            name="education[schoolPercentage]">
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="year" class="form-label">Year</label>
                        <input type="text" class="form-control" id="year" placeholder="Enter year"
                            name="education[schoolYear]" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                </div>

                <div>
                    <div id="Skill">
                        <button type='button' onclick="addSkill()" id="AddSkill" class="mb-4 btn btn-primary">Add Skill</button>
                        <div id="Skill1">
                        </div>
                    </div>
                    <br>
                    <div id="Project">
                        <button  type='button' onclick="addProject()" id="AddProject" class="mb-4 btn btn-primary">Add Project</button>
                        <div id="Project1">
                        </div>
                    </div>
                </div>
                <div>
                    <br>
                    <div id="Achive">
                        <button type='button' onclick="addAchive()" id="AddAchive" class="mb-4 btn btn-primary">Add Achievements</button>
                        <div id="Achive1">
                        </div>
                    </div>
                </div>
                
               

               
                <button type='submit' class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>

    <!-- <script src="/javascripts/tabs.js"></script> -->
    <script src="/javascripts/dynamic.js"></script>
    
