<% layout('layouts/boilerplate')%>

    <div class="container-fluid">
        <div class="mb-3">
            <h1 id="rules">Rules & Regulations</h1>
        </div>       
        <div class="row mt-3">
            <div class="col-md-12">
                <div class="card card-design mb-4 border-dark">
                    <div class="card-body">
                        <h3 class="card-title pb-2"><u>Regarding Internships</u></h3>
                            <div class="card-text">
                                <h5>For BTech, MTech & MCA:</h5>
                                <ul>
                                    <li>
                                        <p>The internships will follow the <strong>“One Student, One Internship”</strong> Policy.</p>
                                    </li>
                                    <li>
                                        <p>Once a student gets an internship through the TPO, he/she will be out of the internship process and cannot appear for any other company’s process (irrespective of the stipend difference).</p>
                                    </li>
                                    <li>
                                        <p>The Student must join the organization for the Internship. If he/she rejects the offer/does not join the organization, then he/she will be immediately blacklisted and will not be allowed to appear for the placement drive in his/her final year.</p>
                                    </li>
                                </ul>
                            </div>
                    </div>
                </div>
                <div class="card card-design mb-4 border-dark">
                    <div class="card-body">
                        <h3 class="card-title pb-2"><u>Regarding PPOs</u></h3>
                            <div class="card-text">
                                <h5>For BTech, MTech & MCA:</h5>
                                <ul>
                                    <li>
                                        <p>All companies are requested to release their PPO offers by the end of July,
                                            as the Final Placement process starts from 1st August each year. [TPO will remind the companies, and the students are also requested to do the needful from their end, and remind
                                            their respective companies].</p>
                                    </li>
                                    <li>
                                        <p>If a student wants to reject a PPO, they should discuss this with their
                                            company before the final PPO offers are declared by the company.</p>
                                    </li>
                                    <li>
                                        <p>Once a student gets a final PPO, it will be considered that the student has
                                            been placed in that company.</p>
                                    </li>
                                    <li>
                                        <p>The student can reject the PPOs which are having CTC less than 12 Lakhs. But
                                            this rejection must be done immediately.</p>
                                    </li>
                                    <li>
                                        <p>The student can immediately reject any final PPO, if he/she wants to go for
                                            higher studies or off-campus placement. But this rejection must be done immediately. Also, the student will be debarred from sitting for further campus process.</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-text">
                                <h5>For BTech only:</h5>
                                <ul>
                                    <li>
                                        <p>If a student gets a final PPO, he/she is counted as placed and will have only
                                            one attempt left to apply for betterment in final placement.</p>
                                    </li>
                                    <li>
                                        <p>If a student rejects a PPO of CTC < 12 Lakhs, he/she has to compulsorily
                                                accept the offer of the very next company that he/she gets placed in
                                                (the new company can be from any category). There will be no further
                                                betterment option available.</p>
                                    </li>
                                </ul>
                            </div>
                    </div>
                </div>
                <div class="card card-design mb-4 border-dark">
                    <div class="card-body">
                        <h3 class="card-title mb-3"><u>Regarding Placement: Categorisation of Companies and Application to
                            Better Category</u></h3>
                        <div class="card-text">
                            <strong>Note: Categorization and Betterment is available only for the B.Tech Students and
                                NOT for M.Tech and MCA Students.</strong>
                        </div>
                        <div class="card-text">
                            <p>This year onwards, we aim to categorise companies into 3 types, based on their CTC:</p>
                            <table class="table table-bordered table-striped border-dark">
                                <tr>
                                    <th>Category</th>
                                    <th>CTC Range (in INR)</th>
                                </tr>
                                <tr>
                                    <td>Normal</td>
                                    <td>&#60 20 lakhs</td>
                                </tr>
                                <tr>
                                    <td>Dream</td>
                                    <td>&#8805 20 lakhs &#38 &#60 40 lakhs</td>
                                </tr>
                                <tr>
                                    <td>Super-Dream</td>
                                    <td>&#8805 40 lakhs</td>
                                </tr>
                            </table>
                        </div>
                        <div class="card-text">
                            <p>To provide the best placements to the students, according to their preference, TPO will allow students to apply in companies of better category, even after being placed. However, the switch (getting placed in a company of better category) is restricted to one time only.</p>
                        </div>
                        <div class="card-text">
                            <h6>Example:</h6>
                            <p>A student gets placement in company PQR [Normal].
                                Now, they can still apply to Dream and Super-Dream companies. (Rule: Application to better
                                category is allowed)
                                If they get selected in company LMN [Dream], then they are out of the placement process, and cannot apply to any other company, even of the Super-Dream category. (Rule: Switch to any other better category is restricted to one time only)
                                They will be finally placed in LMN [Dream].</p>
        
                            <p>If a student is waitlisted (or there is a delay in result declaration) by company ABC and later
                                he/she gets a job in some other company PQR, and then if the company ABC gives an offer then
                                student will have a choice to decide between ABC and PQR. But, that will be counted as a
                                betterment switch and then the student cannot apply for betterment after that.</p>
                        </div>
                    </div>
                </div>
                <div class="card card-design mb-4 border-dark">
                    <div class="card-body">
                        <h3 class="card-title mb-3"><u>Regarding Off-Campus Offers and Higher Studies</u></h3>
                        <div class="card-text">
                            <p><strong>The students who are placed via on-campus drive, will have to compulsorily join
                                    the company (for
                                    at least 1 year).</strong></p>
                            <p><strong>Strict action</strong> (including blocking of transcript) will be taken against
                                students who
                                violate this rule.</p>
                            <p>The students who aspire to go for Higher Education / Off Campus placement cannot apply
                                for
                                On-Campus Placements.</p>
                            <p>If a student is taking part in the campus process, and has not got a final offer from
                                anywhere, then
                                he/she can quit the campus process, and then go for off-campus or higher studies.
                                If a student was applying for off-campus or higher studies, but was unsuccessful, then
                                he/she can
                                join the campus process. However, he/she needs to assure and give in writing that he/she
                                will not
                                go for any higher studies or off-campus offers.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-design mb-5 border-dark">
                    <div class="card-body">
                        <h3 class="card-title mb-3"><u>Instructions to Students</u></h3>
                        <div class="card-text">
                            <ol>
                                <li>Students must provide latest, updated information while applying to companies.</li>
                                <li>Students must not use any unfair means during the process.</li>
                                <li>The TPO tries their best to give all students equal opportunities, irrespective of branch,
                                    department, repeater status, etc. However, criteria, shortlisting, package and final selection
                                    lies in the hands of the company, not the TPO.</li>
                                <li>It is mandatory for all students appearing for any process of campus drive to come in formals.</li>
                                <li>Students must keep their Identity Card with them at the time of Pre placement Talk (PPT) /
                                    Test / Group Discussion / Personal Interviews and produce the same when demanded by the
                                    visiting team or TPO staff.</li>
                                <li>Students are also requested to share the contacts they have, if any, of different companies, so
                                    that the TPO may formally invite these companies for placements</li>
                                <li>Direct communication with the company officials is Not Allowed. If any student is found to do
                                    so then appropriate action will be taken against them. In case of any issue, students should
                                    approach respective TPO CRs.</li>
                                <li>It is mandatory for students who have applied to a company to participate in the placement
                                    process of that company.</li>
                                <li>Attendance in PPT is mandatory after application, to be eligible for further placement
                                    process.</li>
                                <li>Students proceeding after the PPT for the next step in the selection process of a company
                                    cannot quit in between. If a student quits in between the process, then he/she will be
                                    debarred and will not be allowed to appear in any other future placement event.</li>
                                <li>Any kind of misbehavior / complaints reported by the company officials will be taken
                                    seriously and if proven, the student will be debarred from future campus placements.</li>
                                <li>If a student is blacklisted then he/she can approach the placement committee to make a
                                    formal request for removal from the blacklist. If the committee rejects his/her request then he
                                    can approach the director for the same. Decision of the director in the same matter will be
                                    final and binding. Once a student is blacklisted, he/she is debarred from the placement
                                    process.</li>
                                <li>If a student plans to not sit for the placement/internship process, they must inform the TPO
                                    as soon as possible.</li>
                                <li>The TPO and TPO CRs are there to get the queries and doubts of students cleared, and to
                                    ensure the smooth process.</li>
                                <li>Please do not send any email to the TPO Google Groups (it is considered as spam). If you
                                    want to contact the TPO, please don’t call or email. WhatsApp the professor-in-charge.
                                    WhatsApp is available 24x7. The professor usually responds in a couple of hours.</li>
                            </ol>

                            <p><u><strong>In case of any discrepancy, the decision of Professor - In - Charge, Training and
                                Placement Office, VJTI will be final.</strong></u></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
