<script>
    function showProject() {
        let div = document.createElement('div');
        let title = document.createElement('input');
        title.setAttribute('type', 'text')
        let description = document.createElement('input');
        description.setAttribute('type', 'text');
        div.appendChild(title);
        div.appendChild(description);
        document.getElementById('project').appendChild(div);
    }

    function showDescription() {

    }
</script>

<div id="project">
    <label for="addProject"></label>
    <button id="addProject" onclick="showProject()">Add Project</button>
</div>

<div>
    <label for="description"></label>
    <button id="description" onclick="showDescription()">Add Description</button>
</div>