<% layout('layouts/boilerplate')%>
    <div class=" d-flex justify-content-center text-center">
        <h1>Interview Transcripts</h1>

    </div>
    <div class=" mb- d-flex justify-content-center text-center mb-3">Here, are some past year Interview Experiences of
        students of VJTI </div>


    <div class="timeline mb-5">
        <div class="timeline__component">
            <div class="timeline__date timeline__date--right">August 2021</div>
        </div>
        <div class="timeline__middle">
            <div class="timeline__point"></div>
        </div>
        <div class="timeline__component timeline__component--bg">
            <h2 class="timeline__title mb-3">2021 Experiences</h2>
            <p class="timeline__paragraph">
                <a class="btn btn-info" href="/students/transcripts/2021/internships">Internships</a>
                <a class="btn btn-info" href="/students/transcripts/2021/placements">Placements</a>
            </p>
        </div>
        <div class="timeline__component timeline__component--bg">
            <h2 class="timeline__title mb-3">2020 Experiences</h2>
            <p class="timeline__paragraph">
                <a class="btn btn-info" href="/students/transcripts/2020">Internships & Placements</a>
            </p>

        </div>
        <div class="timeline__middle">
            <div class="timeline__point"></div>
        </div>
        <div class="timeline__component">
            <div class="timeline__date">August 2020</div>
        </div>
        <div class="timeline__component">
            <div class="timeline__date timeline__date--right">August 2019</div>
        </div>
        <div class="timeline__middle">
            <div class="timeline__point"></div>
        </div>
        <div class="timeline__component timeline__component--bg">
            <h2 class="timeline__title mb-3">2019 Experiences</h2>
            <p class="timeline__paragraph">
                <a class="btn btn-info" href="/students/transcripts/2019">Internships & Placements</a>
            </p>
        </div>

        <div class="timeline__component  timeline__component--bg">
            <h2 class="timeline__title mb-3"> Pre2018 Experiences</h2>
            <p class="timeline__paragraph">
                <a class="btn btn-info" href="/students/transcripts/2018before">Internships & Placements</a>
            </p>
        </div>

        <div class="timeline__middle">
            <div class="timeline__point"></div>
            <div class="timeline__point"></div>
        </div>
        <div class="timeline__component ">
            <div class="timeline__date timeline__component--bottom">August 2018 and before</div>
        </div>


    </div>