<% layout('layouts/boilerplate')%>

<ul>
<% for (let company of companies){ %>
<li><a href="/companies/<%= company._id%>"><%= company.name%></a></li>
<img src="<%= company.logo.url %>" alt=""> 
<% } %>  
</ul>





