<% layout('layouts/boilerplate')%>


<style>
    #image img{
      width:100%;
      height:100%;
      background-size:cover;
      background-position: center;
    } 
</style>
    
    <div class="container d-flex justify-content-center align-items-center ">
      <div class="col-6 mb-5" id="image">
               <img src="https://media.istockphoto.com/photos/businessman-logging-on-to-a-password-protected-website-picture-id1325306868?b=1&k=20&m=1325306868&s=170667a&w=0&h=Nclr6aupv-xVdn6qZkHN_sPPsVFd_CLfWNyVbUVUUnI=">
      </div>
      <div class="col-6 p-4" id="login">
        <div class="row">
          <div class="card-body">
            <h1 class="card-title">Register</h1>
            <form action="/register" method="POST" class="validated-form mb-3" novalidate>
              <div class="mb-3">
                <label class="form-label" for="username">Username</label>
                <input class="form-control" type="text" id="username" name="username" required>
                <div class="valid-feedback">
                  Looks good!
                </div>
              </div>
              <div class="mb-3">
                <label class="form-label" for="email">Email</label>
                <input class="form-control" type="email" id="email" name="email" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
              </div>
              <div class="mb-3">
                <label class="form-label" for="password">Password</label>
                <input class="form-control" type="password" id="password" name="password" required>
                <div class="valid-feedback">
                  Looks good!
                </div>
              </div>
              <button class="btn btn-success btn-block">Register</button>
              
            </form>
          </div>
        </div>
      </div>
    </div>

