<% layout('layouts/boilerplate')%>
    <div class="container">
        <div class="row">
            <div class="col col-md-6 mb-3">
                <canvas id="barchart" style="height:400px;"></canvas>
            </div>
            <script>
                const data = [9.5, 7.6, 6.1, 6.1, 4.9, 4.7, 4.9, 4.5, 3.2]
            </script>
            <script src="/javascripts/barchart.js"></script>

            <div class="col col-md-6 mb-3">
                <canvas id="PieChart"></canvas>
                <script> const piedata = [65, 66, 61, 54, 63, 60, 33, 54, 19]</script>
                <script src="/javascripts/piechart.js">
                </script>
            </div>
        </div>
    </div>
    <h4><u>BTECH PLACEMENTS</u></h4>
    <div style="overflow-x:auto;">
        <table class="table table-bordered table-striped">
            <tr>
                <th>Sr.No</th>
                <th>Branch</th>
                <th>Enrolled to TPO</th>
                <th>Eligible</th>
                <th>Eligible Selected</th>
                <th>% Eligible Placed</th>
                <th>Total Students Placed (On+Off Campus)</th>
                <th>% Enrolled Placed</th>
                <th>Average CTC</th>
            </tr>
            <tr>
                <td>1</td>
                <td>COMPS</td>
                <td>75</td>
                <td>65</td>
                <td>65</td>
                <td>100</td>
                <td>75</td>
                <td>100.00</td>
                <td>9.5</td>
            </tr>
            <tr>
                <td>2</td>
                <td>IT</td>
                <td>79</td>
                <td>67</td>
                <td>66</td>
                <td>98.50</td>
                <td>79</td>
                <td>100.00</td>
                <td>7.6</td>
            </tr>
            <tr>
                <td>3</td>
                <td>EXTC</td>
                <td>75</td>
                <td>64</td>
                <td>61</td>
                <td>95.31</td>
                <td>75</td>
                <td>100.00</td>
                <td>6.1</td>
            </tr>
            <tr>
                <td>4</td>
                <td>EX</td>
                <td>75</td>
                <td>62</td>
                <td>54</td>
                <td>87.09</td>
                <td>75</td>
                <td>100.00</td>
                <td>6.1</td>
            </tr>
            <tr>
                <td>5</td>
                <td>ELECT</td>
                <td>76</td>
                <td>64</td>
                <td>63</td>
                <td>98.43</td>
                <td>76</td>
                <td>100.00</td>
                <td>4.9</td>
            </tr>
            <tr>
                <td>6</td>
                <td>MECH</td>
                <td>73</td>
                <td>65</td>
                <td>60</td>
                <td>92.30</td>
                <td>65</td>
                <td>89.04</td>
                <td>4.7</td>
            </tr>
            <tr>
                <td>7</td>
                <td>CIVIL</td>
                <td>70</td>
                <td>55</td>
                <td>33</td>
                <td>60</td>
                <td>50</td>
                <td>71.42</td>
                <td>4.9</td>
            </tr>
            <tr>
                <td>8</td>
                <td>PROD</td>
                <td>75</td>
                <td>63</td>
                <td>54</td>
                <td>85.71</td>
                <td>69</td>
                <td>92.00</td>
                <td>4.5</td>
            </tr>
            <tr>
                <td>9</td>
                <td>TEXT</td>
                <td>69</td>
                <td>39</td>
                <td>19</td>
                <td>48.71</td>
                <td>29</td>
                <td>42.03</td>
                <td>3.2</td>
            </tr>
            <tr>
                <td colspan="7"><strong>Overall Avg Placement %</strong></td>
                <td><strong>88.27</strong></td>
                <td><strong>5.722</strong></td>
            </tr>
        </table>
    </div>

    <h4><u>M-TECH &#38; MCA PLACEMENTS</u></h4>
    <div style="overflow-x:auto;">
        <table class="table table-bordered table-striped">
            <tr>
                <th>Sr.No</th>
                <th>Branch</th>
                <th>Enrolled to TPO</th>
                <th>Eligible</th>
                <th>Eligible Placed (On Campus)</th>
                <th>% Eligible Placed</th>
                <th>Total Students Placed (On+Off Campus)</th>
                <th>% Enrolled Placed</th>
                <th>Average CTC</th>
            </tr>
            <tr>
                <td>1</td>
                <td>M-TECH AUTO</td>
                <td>23</td>
                <td>21</td>
                <td>0</td>
                <td>0</td>
                <td>18</td>
                <td>78.26</td>
                <td>4.37</td>
            </tr>
            <tr>
                <td>2</td>
                <td>M-TECH CAD/CAM</td>
                <td>17</td>
                <td>16</td>
                <td>3</td>
                <td>18.74</td>
                <td>12</td>
                <td>70.58</td>
                <td>5.10</td>
            </tr>
            <tr>
                <td>3</td>
                <td>M-TECH COMPS</td>
                <td>25</td>
                <td>25</td>
                <td>11</td>
                <td>44.00</td>
                <td>21</td>
                <td>84.00</td>
                <td>6.90</td>
            </tr>
            <tr>
                <td>4</td>
                <td>M-TECH CONST</td>
                <td>18</td>
                <td>16</td>
                <td>0</td>
                <td>0</td>
                <td>9</td>
                <td>50.00</td>
                <td>5.83</td>
            </tr>
            <tr>
                <td>5</td>
                <td>M-TECH Control</td>
                <td>21</td>
                <td>19</td>
                <td>1</td>
                <td>5.26</td>
                <td>16</td>
                <td>76.00</td>
                <td>4.78</td>
            </tr>
            <tr>
                <td>6</td>
                <td>M-TECH ENVIRON</td>
                <td>9</td>
                <td>8</td>
                <td>1</td>
                <td>12.49</td>
                <td>7</td>
                <td>77.77</td>
                <td>4.48</td>
            </tr>
            <tr>
                <td>7</td>
                <td>M-TECH EX</td>
                <td>22</td>
                <td>19</td>
                <td>4</td>
                <td>21.05</td>
                <td>16</td>
                <td>72.72</td>
                <td>7.48</td>
            </tr>
            <tr>
                <td>8</td>
                <td>M-TECH EXTC</td>
                <td>25</td>
                <td>25</td>
                <td>7</td>
                <td>28.00</td>
                <td>17</td>
                <td>68.00</td>
                <td>5.40</td>
            </tr>
            <tr>
                <td>9</td>
                <td>M-TECH M/D</td>
                <td>20</td>
                <td>19</td>
                <td>6</td>
                <td>31.57</td>
                <td>13</td>
                <td>65.00</td>
                <td>5.76</td>
            </tr>
            <tr>
                <td>10</td>
                <td>M-TECH POWER</td>
                <td>14</td>
                <td>12</td>
                <td>1</td>
                <td>8.33</td>
                <td>10</td>
                <td>71.42</td>
                <td>6.17</td>
            </tr>
            <tr>
                <td>11</td>
                <td>M-TECH PROD</td>
                <td>18</td>
                <td>18</td>
                <td>5</td>
                <td>27.77</td>
                <td>12</td>
                <td>66.67</td>
                <td>4.30</td>
            </tr>
            <tr>
                <td>12</td>
                <td>M-TECH STRUCT</td>
                <td>15</td>
                <td>15</td>
                <td>2</td>
                <td>13.33</td>
                <td>13</td>
                <td>86.67</td>
                <td>4.88</td>
            </tr>
            <tr>
                <td>13</td>
                <td>M-TECH Thermal</td>
                <td>22</td>
                <td>22</td>
                <td>7</td>
                <td>31.81</td>
                <td>19</td>
                <td>866.36</td>
                <td>4.83</td>
            </tr>
            <tr>
                <td>14</td>
                <td>M-TECH PROJECT MGMT</td>
                <td>36</td>
                <td>36</td>
                <td>8</td>
                <td>22.22</td>
                <td>16</td>
                <td>44.00</td>
                <td>3.67</td>
            </tr>
            <tr>
                <td>15</td>
                <td>M-TECH N.I.M.S</td>
                <td>18</td>
                <td>18</td>
                <td>9</td>
                <td>50</td>
                <td>14</td>
                <td>77.78</td>
                <td>8.93</td>
            </tr>
            <tr>
                <td>16</td>
                <td>M-TECH SOFTWARE ENGG</td>
                <td>23</td>
                <td>23</td>
                <td>10</td>
                <td>43.47</td>
                <td>14</td>
                <td>60.86</td>
                <td>8.77</td>
            </tr>
            <tr>
                <td colspan="7"><strong>Overall Avg Placement %</strong></td>
                <td><strong>71.01</strong></td>
                <td><strong>5.80</strong></td>
            </tr>
            <tr>
                <td>17</td>
                <td>MCA</td>
                <td>52</td>
                <td>38</td>
                <td>25</td>
                <td>65.78/td>
                <td>36</td>
                <td>69.23</td>
                <td>6.06</td>
            </tr>
        </table>
    </div>