<% layout('layouts/boilerplate')%>
    <div class="chartBox img-fluid">
        <canvas id="myChart"></canvas>
    </div>
    <script>
        const data = [10.33, 8.09, 6.13, 6.25, 5.4, 5.41, 4.93, 4.27, 5.13]
    </script>
    <script src="/javascripts/barchart.js"></script>

    <table class="table table-bordered table-striped">
        <tr>
            <th>Sr.No</th>
            <th>Branch</th>
            <th>Enrolled to TPO</th>
            <th>Eligible</th>
            <th>Total Selected</th>
            <th>% Eligible Placed</th>
            <th>Average CTC</th>
        </tr>
        <tr>
            <td>1</td>
            <td>COMPS</td>
            <td>71</td>
            <td>69</td>
            <td>69</td>
            <td>100</td>
            <td>12.70</td>
        </tr>
        <tr>
            <td>2</td>
            <td>IT</td>
        </tr>
        <tr>
            <td>Super-Dream</td>
            <td>&#8805 40 lakhs</td>
        </tr>
    </table>