<% layout('layouts/boilerplate')%>
    <div class="container">
        <div class="row mb-3">
            <div class="col col-md-6 mb-3">
                <canvas id="barchart" style="height:400px;"></canvas>
            </div>
            <script>
                const data = [10.33, 8.09, 6.13, 6.25, 5.4, 5.41, 4.93, 4.27, 5.13]
            </script>
            <script src="/javascripts/barchart.js"></script>

            <div class="col col-md-6 mb-3">
                <canvas id="PieChart"></canvas>
                <script> const piedata = [68, 67, 59, 59, 57, 61, 59, 33, 56]</script>
                <script src="/javascripts/piechart.js"></script>
            </div>
        </div>
    </div>
    <h4><u>BTECH PLACEMENTS</u></h4>
    <div style="overflow-x:auto;">
        <table class="table table-bordered table-striped">
            <tr>
                <th>Sr.No</th>
                <th>Branch</th>
                <th>Enrolled to TPO</th>
                <th>Eligible</th>
                <th>Eligible Placed (On Campus)</th>
                <th>% Eligible Placed</th>
                <th>Total Students Placed (On+Off Campus)</th>
                <th>% Enrolled Placed</th>
                <th>Average CTC</th>
            </tr>
            <tr>
                <td>1</td>
                <td>COMPS</td>
                <td>74</td>
                <td>72</td>
                <td>68</td>
                <td>94.44</td>
                <td>74</td>
                <td>100</td>
                <td>10.33</td>
            </tr>
            <tr>
                <td>2</td>
                <td>IT</td>
                <td>80</td>
                <td>70</td>
                <td>67</td>
                <td>95.71</td>
                <td>80</td>
                <td>100</td>
                <td>8.09</td>
            </tr>
            <tr>
                <td>3</td>
                <td>EXTC</td>
                <td>72</td>
                <td>64</td>
                <td>59</td>
                <td>92.18</td>
                <td>72</td>
                <td>100</td>
                <td>6.13</td>
            </tr>
            <tr>
                <td>4</td>
                <td>EX</td>
                <td>71</td>
                <td>65</td>
                <td>59</td>
                <td>90.76</td>
                <td>64</td>
                <td>90.10</td>
                <td>6.25</td>
            </tr>
            <tr>
                <td>5</td>
                <td>ELECT</td>
                <td>73</td>
                <td>65</td>
                <td>57</td>
                <td>87.69</td>
                <td>70</td>
                <td>95.90</td>
                <td>5.4</td>
            </tr>
            <tr>
                <td>6</td>
                <td>MECH</td>
                <td>71</td>
                <td>69</td>
                <td>61</td>
                <td>88.40</td>
                <td>63</td>
                <td>88.73</td>
                <td>5.41</td>
            </tr>
            <tr>
                <td>7</td>
                <td>CIVIL</td>
                <td>73</td>
                <td>67</td>
                <td>59</td>
                <td>88.05</td>
                <td>69</td>
                <td>94.52</td>
                <td>4.93</td>
            </tr>
            <tr>
                <td>8</td>
                <td>PROD</td>
                <td>80</td>
                <td>63</td>
                <td>33</td>
                <td>52.38</td>
                <td>42</td>
                <td>52.50</td>
                <td>4.27</td>
            </tr>
            <tr>
                <td>9</td>
                <td>TEXT</td>
                <td>77</td>
                <td>58</td>
                <td>56</td>
                <td>96.55</td>
                <td>77</td>
                <td>100</td>
                <td>4.93</td>
            </tr>
            <tr>
                <td colspan="7"><strong>Overall Avg Placement %</strong></td>
                <td><strong>91.30</strong></td>
                <td><strong>6.21</strong></td>
            </tr>
        </table>
    </div>

    <h4><u>M-TECH &#38; MCA PLACEMENTS</u></h4>
    <div style="overflow-x:auto;">
        <table class="table table-bordered table-striped">
            <tr>
                <th>Sr.No</th>
                <th>Branch</th>
                <th>Enrolled to TPO</th>
                <th>Eligible</th>
                <th>Eligible Placed (On Campus)</th>
                <th>% Eligible Placed</th>
                <th>Total Students Placed (On+Off Campus)</th>
                <th>% Enrolled Placed</th>
                <th>Average CTC</th>
            </tr>
            <tr>
                <td>1</td>
                <td>M-TECH AUTO</td>
                <td>21</td>
                <td>21</td>
                <td>0</td>
                <td>0</td>
                <td>11</td>
                <td>52.38</td>
                <td>4.80</td>
            </tr>
            <tr>
                <td>2</td>
                <td>M-TECH CAD/CAM</td>
                <td>17</td>
                <td>17</td>
                <td>8</td>
                <td>47.05</td>
                <td>15</td>
                <td>88.24</td>
                <td>5.10</td>
            </tr>
            <tr>
                <td>3</td>
                <td>M-TECH COMPS</td>
                <td>22</td>
                <td>22</td>
                <td>14</td>
                <td>63.63</td>
                <td>19</td>
                <td>86.36</td>
                <td>8.33</td>
            </tr>
            <tr>
                <td>4</td>
                <td>M-TECH CONST</td>
                <td>16</td>
                <td>16</td>
                <td>3</td>
                <td>18.74</td>
                <td>10</td>
                <td>62.50</td>
                <td>4.91</td>
            </tr>
            <tr>
                <td>5</td>
                <td>M-TECH Control</td>
                <td>25</td>
                <td>25</td>
                <td>6</td>
                <td>24</td>
                <td>13</td>
                <td>52</td>
                <td>4.54</td>
            </tr>
            <tr>
                <td>6</td>
                <td>M-TECH ENVIRON</td>
                <td>11</td>
                <td>11</td>
                <td>2</td>
                <td>18.18</td>
                <td>10</td>
                <td>90.91</td>
                <td>4.00</td>
            </tr>
            <tr>
                <td>7</td>
                <td>M-TECH EX</td>
                <td>21</td>
                <td>21</td>
                <td>4</td>
                <td>19.04</td>
                <td>14</td>
                <td>66.67</td>
                <td>4.44</td>
            </tr>
            <tr>
                <td>8</td>
                <td>M-TECH EXTC</td>
                <td>24</td>
                <td>24</td>
                <td>6</td>
                <td>25</td>
                <td>17</td>
                <td>70.83</td>
                <td>4.67</td>
            </tr>
            <tr>
                <td>9</td>
                <td>M-TECH M/D</td>
                <td>23</td>
                <td>23</td>
                <td>9</td>
                <td>39.13</td>
                <td>14</td>
                <td>60.87</td>
                <td>5.68</td>
            </tr>
            <tr>
                <td>10</td>
                <td>M-TECH POWER</td>
                <td>15</td>
                <td>15</td>
                <td>7</td>
                <td>46.66</td>
                <td>13</td>
                <td>86.67</td>
                <td>3.76</td>
            </tr>
            <tr>
                <td>11</td>
                <td>M-TECH PROD</td>
                <td>17</td>
                <td>17</td>
                <td>1</td>
                <td>5.88</td>
                <td>9</td>
                <td>52.94</td>
                <td>3.60</td>
            </tr>
            <tr>
                <td>12</td>
                <td>M-TECH STRUCT</td>
                <td>20</td>
                <td>20</td>
                <td>6</td>
                <td>30.00</td>
                <td>17</td>
                <td>85.00</td>
                <td>5.28</td>
            </tr>
            <tr>
                <td>13</td>
                <td>M-TECH Thermal</td>
                <td>23</td>
                <td>23</td>
                <td>4</td>
                <td>17.39</td>
                <td>10</td>
                <td>43.48</td>
                <td>4.48</td>
            </tr>
            <tr>
                <td>14</td>
                <td>M-TECH PROJECT MGMT</td>
                <td>27</td>
                <td>27</td>
                <td>8</td>
                <td>29.62</td>
                <td>17</td>
                <td>62.96</td>
                <td>4.36</td>
            </tr>
            <tr>
                <td>15</td>
                <td>M-TECH N.I.M.S</td>
                <td>17</td>
                <td>17</td>
                <td>6</td>
                <td>35.29</td>
                <td>12</td>
                <td>70.59</td>
                <td>12.00</td>
            </tr>
            <tr>
                <td>16</td>
                <td>M-TECH SOFTWARE ENGG</td>
                <td>22</td>
                <td>22</td>
                <td>12</td>
                <td>54.54</td>
                <td>20</td>
                <td>90.91</td>
                <td>6.38</td>
            </tr>
            <tr>
                <td colspan="7"><strong>Overall Avg Placement %</strong></td>
                <td><strong>70.21</strong></td>
                <td><strong>5.50</strong></td>
            </tr>
            <tr>
                <td>17</td>
                <td>MCA</td>
                <td>59</td>
                <td>56</td>
                <td>29</td>
                <td>51.78</td>
                <td>51</td>
                <td>86.44</td>
                <td>5.06</td>
            </tr>
        </table>
    </div>
    </div>