<% layout('layouts/boilerplate')%>
    <div class="container">
        <div class="row">
            <div class="col col-md-6 mb-3">
                <canvas id="barchart" style="height:400px;"></canvas>
            </div>
            <script>
                const data = [11.28, 9.59, 7.37, 6.13, 6.33, 5.47, 5.69, 4.7, 4.17]
            </script>
            <script src="/javascripts/barchart.js"></script>

            <div class="col col-md-6  mb-4">
                <canvas id="PieChart"></canvas>
                <script>const piedata = [67, 60, 59, 51, 66, 66, 58, 37, 31]</script>
                <script src="/javascripts/piechart.js"></script>
            </div>
        </div>
    </div>

    <h4><u>BTECH PLACEMENTS</u></h4>
    <div style="overflow-x:auto;" class="mt-3">
        <table class="table table-bordered table-striped">

            <tr>
                <th>Sr.No</th>
                <th>Branch</th>
                <th>Enrolled to TPO</th>
                <th>Eligible</th>
                <th>Eligible Selected</th>
                <th>% Eligible Placed</th>
                <th>Total Students Placed (On+Off Campus)</th>
                <th>% Enrolled Placed</th>
                <th>Average CTC</th>
            </tr>
            <tr>
                <td>1</td>
                <td>COMPS</td>
                <td>78</td>
                <td>67</td>
                <td>67</td>
                <td>100.00</td>
                <td>78</td>
                <td>100.00</td>
                <td>11.28</td>
            </tr>
            <tr>
                <td>2</td>
                <td>IT</td>
                <td>75</td>
                <td>60</td>
                <td>60</td>
                <td>100.00</td>
                <td>75</td>
                <td>100.00</td>
                <td>9.59</td>
            </tr>
            <tr>
                <td>3</td>
                <td>EXTC</td>
                <td>74</td>
                <td>65</td>
                <td>59</td>
                <td>90.76</td>
                <td>74</td>
                <td>100.00</td>
                <td>7.37</td>
            </tr>
            <tr>
                <td>4</td>
                <td>EX</td>
                <td>73</td>
                <td>55</td>
                <td>51</td>
                <td>92.72</td>
                <td>67</td>
                <td>91.78</td>
                <td>6.13</td>
            </tr>
            <tr>
                <td>5</td>
                <td>ELECT</td>
                <td>73</td>
                <td>67</td>
                <td>66</td>
                <td>98.50</td>
                <td>70</td>
                <td>95.89</td>
                <td>6.33</td>
            </tr>
            <tr>
                <td>6</td>
                <td>MECH</td>
                <td>74</td>
                <td>66</td>
                <td>66</td>
                <td>100.00</td>
                <td>74</td>
                <td>100.00</td>
                <td>5.47</td>
            </tr>
            <tr>
                <td>7</td>
                <td>CIVIL</td>
                <td>69</td>
                <td>64</td>
                <td>58</td>
                <td>90.62</td>
                <td>64</td>
                <td>92.75</td>
                <td>5.69</td>
            </tr>
            <tr>
                <td>8</td>
                <td>PROD</td>
                <td>72</td>
                <td>42</td>
                <td>37</td>
                <td>88.09</td>
                <td>53</td>
                <td>73.61</td>
                <td>4.7</td>
            </tr>
            <tr>
                <td>9</td>
                <td>TEXT</td>
                <td>64</td>
                <td>31</td>
                <td>31</td>
                <td>100</td>
                <td>62</td>
                <td>96.88</td>
                <td>4.17</td>
            </tr>
            <tr>
                <td colspan="7"><strong>Overall Avg Placement %</strong></td>
                <td><strong>94.55</strong></td>
                <td><strong>6.75</strong></td>
            </tr>
        </table>
    </div>




    <h4><u>M-TECH &#38; MCA PLACEMENTS</u></h4>
    <div style="overflow-x:auto;">
        <table class="table table-bordered table-striped">
            <tr>
                <th>Sr.No</th>
                <th>Branch</th>
                <th>Enrolled to TPO</th>
                <th>Eligible</th>
                <th>Eligible Placed (On Campus)</th>
                <th>% Eligible Placed</th>
                <th>Total Students Placed (On+Off Campus)</th>
                <th>% Enrolled Placed</th>
                <th>Average CTC</th>
            </tr>
            <tr>
                <td>1</td>
                <td>M-TECH AUTO</td>
                <td>25</td>
                <td>25</td>
                <td>10</td>
                <td>40.00</td>
                <td>12</td>
                <td>48.00</td>
                <td>3.15</td>
            </tr>
            <tr>
                <td>2</td>
                <td>M-TECH CAD/CAM</td>
                <td>18</td>
                <td>18</td>
                <td>5</td>
                <td>27.77</td>
                <td>10</td>
                <td>55.56</td>
                <td>4.00</td>
            </tr>
            <tr>
                <td>3</td>
                <td>M-TECH COMPS</td>
                <td>25</td>
                <td>25</td>
                <td>15</td>
                <td>60.00</td>
                <td>119</td>
                <td>76.00</td>
                <td>12.23</td>
            </tr>
            <tr>
                <td>4</td>
                <td>M-TECH CONST</td>
                <td>14</td>
                <td>14</td>
                <td>-</td>
                <td>-</td>
                <td>8</td>
                <td>57.14</td>
                <td>3.70</td>
            </tr>
            <tr>
                <td>5</td>
                <td>M-TECH Control</td>
                <td>18</td>
                <td>18</td>
                <td>8</td>
                <td>44.44</td>
                <td>11</td>
                <td>61.11</td>
                <td>4.85</td>
            </tr>
            <tr>
                <td>6</td>
                <td>M-TECH ENVIRON</td>
                <td>13</td>
                <td>13</td>
                <td>-</td>
                <td>-</td>
                <td>3</td>
                <td>23.08</td>
                <td>3.76</td>
            </tr>
            <tr>
                <td>7</td>
                <td>M-TECH EX</td>
                <td>25</td>
                <td>25</td>
                <td>4</td>
                <td>16.00</td>
                <td>11</td>
                <td>44.00</td>
                <td>5.20</td>
            </tr>
            <tr>
                <td>8</td>
                <td>M-TECH EXTC</td>
                <td>25</td>
                <td>25</td>
                <td>4</td>
                <td>16.00</td>
                <td>12</td>
                <td>48.00</td>
                <td>4.80</td>
            </tr>
            <tr>
                <td>9</td>
                <td>M-TECH M/D</td>
                <td>25</td>
                <td>25</td>
                <td>8</td>
                <td>32.00</td>
                <td>16</td>
                <td>64.00</td>
                <td>5.38</td>
            </tr>
            <tr>
                <td>10</td>
                <td>M-TECH POWER</td>
                <td>21</td>
                <td>21</td>
                <td>10</td>
                <td>47.61</td>
                <td>16</td>
                <td>76.19</td>
                <td>4.00</td>
            </tr>
            <tr>
                <td>11</td>
                <td>M-TECH PROD</td>
                <td>17</td>
                <td>17</td>
                <td>7</td>
                <td>41.17</td>
                <td>12</td>
                <td>70.59</td>
                <td>4.16</td>
            </tr>
            <tr>
                <td>12</td>
                <td>M-TECH STRUCT</td>
                <td>23</td>
                <td>23</td>
                <td>10</td>
                <td>43.47</td>
                <td>18</td>
                <td>78.26</td>
                <td>4.86</td>
            </tr>
            <tr>
                <td>13</td>
                <td>M-TECH Thermal</td>
                <td>24</td>
                <td>24</td>
                <td>7</td>
                <td>29.16</td>
                <td>17</td>
                <td>70.83</td>
                <td>4.53</td>
            </tr>
            <tr>
                <td>14</td>
                <td>M-TECH PROJECT MGMT</td>
                <td>34</td>
                <td>34</td>
                <td>4</td>
                <td>11.76</td>
                <td>20</td>
                <td>58.82</td>
                <td>4.64</td>
            </tr>
            <tr>
                <td>15</td>
                <td>M-TECH N.I.M.S</td>
                <td>17</td>
                <td>17</td>
                <td>11</td>
                <td>64.70</td>
                <td>14</td>
                <td>82.35</td>
                <td>7.00</td>
            </tr>
            <tr>
                <td>16</td>
                <td>M-TECH SOFTWARE ENGG</td>
                <td>22</td>
                <td>22</td>
                <td>13</td>
                <td>59.09</td>
                <td>18</td>
                <td>81.82</td>
                <td>6.90</td>
            </tr>
            <tr>
                <td colspan="7"><strong>Overall Avg Placement %</strong></td>
                <td><strong>62.23</strong></td>
                <td><strong>5.30</strong></td>
            </tr>
            <tr>
                <td>17</td>
                <td>MCA</td>
                <td>47</td>
                <td>47</td>
                <td>13</td>
                <td>27.65</td>
                <td>39</td>
                <td>82.97</td>
                <td>7.07</td>
            </tr>
        </table>
    </div>