<% layout('layouts/boilerplate')%>
    <div class="chartBox img-fluid">
        <canvas id="myChart"></canvas>
    </div>
    <script>
        const data = [11.28, 9.59, 7.37, 6.13, 6.33, 5.47, 5.69, 4.7, 4.17]
    </script>
    <script src="/javascripts/barchart.js"></script>